---
import Layout from "../layouts/Layout.astro";

const title = "park owner";
const subtitle = "about";
const bannerImage =
    "https://64.media.tumblr.com/751037f2dc5e53b8eba4458c4db23563/7c60757762a794a7-1b/s640x960/ac3915af9be2d75951f48f5f1a1594970c21b141.gifv";
const tinyImage = "/smalls/sm-clown.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <div class="flexbox">
            <div style="width:50%">
                <img src="/images/gelseydollballoons.png" />
            </div>
            <div style="width:50%">
                <p><b>name:</b> gelsey</p>
                <p><b>location:</b> usa // utc-5</p>
                <p><b>pronouns:</b> he/her</p>
                <p><b>age:</b> forever 30+</p>
                <p>
                    <b>♡'s:</b> miniatures, dolls, kpop, jpop, anime, coffee, life
                    sims, my notion
                </p>
                <p><b>:('s :</b> goat cheese, schedule changes, running,</p>
                <div class="flexbox">
                    <img src="/buttons/queercoding.png" />
                    <img src="/blinkies/usertrains.gif" />
                    <img src="/blinkies/stupidandqueer.gif" />
                </div>
            </div>
        </div>
        <div class="flexbox" style="width=300px;">
            <hr />
            <img src="/labels/adhd.png" />
            <img src="/labels/cisnt.png" />
            <img src="/labels/enfp.png" />
            <img src="/labels/femboy.png" />
            <img src="/labels/hehim.png" />
            <img src="/labels/sheher.png" />
            <img src="/labels/idolhell.png" />
            <img src="/labels/queer.png" />
            <img src="/labels/relationships.png" />
        </div>
    </div>

    <div slot="full">
        <h2>favorites</h2>
        <h3>music</h3>
        <p>
            newjeans, supaga, tokisen, takane no nadeshiko, karen na ivory,
            mamamoo, babymetal, wug!, love live!, tripples,
        </p>
        <h3>games</h3>
        <p>
            sims 2+3, stardew valley, acnh, mobile dress-ups, dating sims,
            tycoons, yakuza, fnaf, infinity nikki, uma musume, gakumas, love and
            deep space, nancy drew pc
        </p>
        <h3>anime</h3>
        <p>
            one piece, yuru camp, kaguya sama, kakeguri, apothecary diaries,
            konosuba, solo leveling, demon slayer, zombie land saga, uma musume,
            sabage-gu!, dumbbell nan kilo moteru?
        </p>
        <h3>movies</h3>
        <p>
            midsommar, 1br, hell house llc., but i'm a cheerleader, suckerpunch,
            silence of the lambs, suicide club, get out, se7en, black swan,
            innocence, picnic at hanging rock
        </p>
        <h3>misc.</h3>
        <p>
            studying, baking, learning to draw, culture essays, eating the rich,
            language learning, doll collecting, world making, writing lyrics,
            categorizing things, comedy, being mentally ill
        </p>
    </div>

    <div slot="left-half">
        <div class="flexbox">
            <img src="/stamps/kyuuu.png" style="height:25px" />
            <h2>park rules</h2>
            <img src="/stamps/kyuuu.png" style="height:25px" />
        </div>

        <ol>
            <li>
                <mark>dni -21</mark> follows ok but i wont reply if i dont have age
                confirmation in bio or dm. im old as shit you won't like my zillennial
                humor anyway.
            </li>
            <li>
                <mark>on this site we lift up people</mark> of all genders, sexualities,
                backgrounds, ethnicities, races, abilities, countries etc. no gamer
                words allowed - i can't verify your ability to reclaim them.
            </li>
            <li>
                <mark>no swiping</mark> i went through all the trouble of <a
                    href="credits.html">crediting</a
                > all the lovely sites i used to build this place. you have no excuse
                to rip assets or code off of here without credit.
            </li>
            <li>
                <mark>we gotta be able to agree to disagree</mark> while i certainly
                am not the knower of all things good and evil, i don't vibe with
                blanket censorship approaches like "anti-shipping". people who don't
                understand neuance and context are the literal reason im in therapy.
                you must have at least a 6th grade level of media literacy here especially
                for my otome and horror content.
            </li>
            <li>
                <mark>do not ask me to repost/share.</mark> you can show me your
                conent but i'll decide for myself if i want to interact with it.
                don't beg me to commission you - i'm a broke artist/teacher.
            </li>
        </ol>
        <h4>golden rule: if you give me the ick i'm going to kick</h4>
    </div>
    <div slot="right-half">
        <h2>before interacting</h2>

        <ul>
            <li>i will post gatcha "spoilers" if you want to go in blind.</li>
            <li>
                nsfw jokes and art posted time to time. i keep it mostly
                contained to the otome section but beware i may make a booty
                joke elsewhere
            </li>
            <li>
                i talk about being on edibles and other substances. it's legal
                for me and i like not feeling my face after a hard days work
            </li>
            <li>i practice witchy shit and will post content about it</li>
        </ul>
        <h4>
            <mark>general disclaimer of idiocy:</mark> i love to credit sources but
            rarely do i speak as an expert on anything. if you source me on an essay
            i'm not responsible for any failing grades. do your research. google
            is free.
        </h4>
        <img
            src="../images/brightcastle.gif"
            style="
            width:150px; 
            display:block;
            margin-left: auto;
            margin-right: auto;"
        />
    </div>
</Layout>
