---
import RecentAnime from "../components/RecentAnime.astro";
import Layout from "../layouts/Layout.astro";

const title = "theatre";
const subtitle = "anime";
const bannerImage =
    "https://64.media.tumblr.com/3f45f0a29e81d327ffdcfb66538013d6/73f2176b49545e06-3f/s400x600/f0d49bcca1f5e900c9168f17213edde4b40ce80a.gifv";
const tinyImage = "/smalls/sm-rtv.png";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <div class="center">
            <p>
                if there's one thing to know about me its that I never <i
                    >ever</i
                > watch animes live. the one acception to this has been one piece
                and it's bc my partner refuses to let me read the manga and get ahead
                of him.
            </p>
            <p>
                <b>i am a binge watcher by nature</b> and i cannot function with
                week to week waiting periods. i already lived through this back in
                the days of live tv. i am too adhd to even remember what happened
                1 hour ago so forget about a whole week inbetween. I watch shows
                once they've been proven popular and enjoyable and have concluded
                at least a full season. otherwise i'm just setting myself up for
                a bad time.
            </p>

            <i
                >i am ashamed to admit how many anime i have all together just
                stopped watching because i only got access to like 4 episodes
                and forgot that shit existed.</i
            >

            <p>
                so when you're asking yourself why is this dude still talking
                about anime that came out 5, 10, 15 years ago...you are being
                abelist and the park security will take you to theme park jail
                (it is the ball pit with zip ties on the doors)
            </p>
        </div>
    </div>

    <div slot="full">
        <h2>my shelf</h2>
        <div class="flexbox" style="flex-direction: row;">
            <div>
                <div class="shrine">
                    <img
                        src="https://s2.qwant.com/thumbr/474x266/5/b/0a0633c42757bf9398eee06a72efa381a8722978b996441f94ae1cb07db2ec/OIP.rcC3VQcC1qXD82x56p81ygHaEK.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%2Fid%2FOIP.rcC3VQcC1qXD82x56p81ygHaEK%3Fpid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>yuru camping</h4></div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://s2.qwant.com/thumbr/474x326/e/d/dc466407a65c0b42214248547ed386240019a861193f563d347eb4436ae9c9/OIP.GoWraS2B3zaCTbSFhRnkKAHaFG.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%2Fid%2FOIP.GoWraS2B3zaCTbSFhRnkKAHaFG%3Fr%3D0%26pid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center">
                    <a href="/posts/post-a2/"> <h4>fma brotherhood</h4></a>
                </div>
            </div>
            <div>
                <div class="shrine">
                    <img
                        src="https://s1.qwant.com/thumbr/474x266/1/e/3072b1276bc77959173018df5a2d669f42c8a1d20eba53947a49ccba3a5d0b/OIP.E8rl2gAMs4u77Z7ZfdtiiAHaEK.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%2Fid%2FOIP.E8rl2gAMs4u77Z7ZfdtiiAHaEK%3Fr%3D0%26pid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>kono suba</h4></div>
            </div>
            <div>
                <div class="shrine">
                    <img
                        src="https://s2.qwant.com/thumbr/474x267/f/a/ad8d7db97eccc1c830d565be45b7fb69274338b9ece99b8415e89f3c6d5ebe/OIP.CZJtn60Igp4QSs8-oepq6wHaEL.jpg?u=https%3A%2F%2Fthfvnext.bing.com%2Fth%2Fid%2FOIP.CZJtn60Igp4QSs8-oepq6wHaEL%3Fcb%3Dthfvnext%26pid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>oshi no ko</h4></div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages7.alphacoders.com%2F702%2F702894.png&f=1&nofb=1&ipt=ae23c3466096e70756dee10e3053e95d511dcc3a6d34cf9a7d8727dfba5778f1"
                    />
                </div>
                <div class="center"><h4>food wars</h4></div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://s2.qwant.com/thumbr/474x271/4/1/6dcf7a12624f97acafb330dccd6d04499875972ab2b0352ed3f564e227565a/OIP.36FvJWe7JM6axFv3r7HXrgHaEP.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%2Fid%2FOIP.36FvJWe7JM6axFv3r7HXrgHaEP%3Fpid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>demon slayer</h4></div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://s1.qwant.com/thumbr/474x266/0/6/52a3566177c510b4a43b263b890b585443491d009cb39720d9c8f7cefd28d4/OIP.aHr9rZ2ZklbP-xOcPx8EWAHaEK.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%2Fid%2FOIP.aHr9rZ2ZklbP-xOcPx8EWAHaEK%3Fpid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center">
                    <a href="/posts/post-a1/"><h4>zombie land saga</h4></a>
                </div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://s1.qwant.com/thumbr/474x266/1/7/56e973493dcae9cb30ad5bdd153f3bd5cc4f580cc4adbde0e13e851b0172b0/OIP.FMCY0HdWlZfd1DTZPNk18AHaEK.jpg?u=https%3A%2F%2Fthf.bing.com%2Fth%2Fid%2FOIP.FMCY0HdWlZfd1DTZPNk18AHaEK%3Fcb%3Dthfc1%26pid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>uma musume</h4></div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://s1.qwant.com/thumbr/474x237/1/5/8e3107ff49785f04b49790545363a6956c6100c11737fa214dc0bfe0d7aabf/OIP.vllY_AfVdwJlKtJKn32BywHaDt.jpg?u=https%3A%2F%2Fthfvnext.bing.com%2Fth%2Fid%2FOIP.vllY_AfVdwJlKtJKn32BywHaDt%3Fcb%3Dthfvnext%26pid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>solo leveling</h4></div>
            </div>

            <div>
                <div class="shrine">
                    <img
                        src="https://s1.qwant.com/thumbr/474x266/3/8/45ec76341ed32a5f29bd52eb7c337e19f2ef6f941ad9cebd62f08ec0bbcc65/OIP.-U56uCMkz0H5UNyUxjopFQHaEK.jpg?u=https%3A%2F%2Fthf.bing.com%2Fth%2Fid%2FOIP.-U56uCMkz0H5UNyUxjopFQHaEK%3Fr%3D0%26cb%3Dthfc1%26pid%3DApi&q=0&b=1&p=0&a=0"
                    />
                </div>
                <div class="center"><h4>apothecary diaries</h4></div>
            </div>
            <div>
                <div class="shrine">
                    <img
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.h3siujSbssQrEHh_vmNsUgHaFC%3Fcb%3D12%26pid%3DApi&f=1&ipt=5af8391097effb4ca760ec61bf53eaef6539370fb8fece9d6c4fa90148481f18"
                    />
                </div>
                <div class="center"><h4>one piece</h4></div>
            </div>

            <div class="center">
                <br />
                <br />
                <a href="/you/horror.html" class="button"
                    >looking for scary shows/movies?</a
                >
                <br />
                <br />
            </div>
        </div>
    </div>

    <div slot="left-half">
        <h2>recently watched</h2>
        <p>shows that i watched but don't like enough to put on my shelf</p><ul>
            <li>I was reincarnated as a slime</li>
            <li>log horizon</li>
            <li>sailor moon</li>
            <li>castlevania</li>
            <li>my deer friend nokotan</li>
        </ul>
    </div>
    <div slot="right-half">
        <div class="center">
            <RecentAnime />
        </div>
    </div>
</Layout>
