---
import Layout from "../layouts/Layout.astro";

const title = "park donors";
const subtitle = "credits";
const bannerImage = "/bg/hoshi_y_t.gif";
const tinyImage = "/smalls/sm-perfume.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <p>
            Thank you to all the amazing resources that helped me to build the
            page you see! Be sure to check them out and show support!
        </p>
        <hr />
        <h3>build...</h3>
        <ul>
            <li>
                main layout cyanobacteria.css by <a
                    href="https://ribo.zone/free/layouts/">Ribo.Zone</a
                >
            </li>
            <li>
                landing page background image from <a
                    href="https://snaappy.tumblr.com/post/48487367697/super-mega-huge-background-pattern-texture-post"
                    >snaappy</a
                >
            </li>
            <li>main about image made on Style Dollz</li>
            <li>
                blog template from <a href="https://swirl.neocities.org/"
                    >swirl</a
                >
            </li>
            <li>front chat widget from chattable</li>
            <li>
                updates code and profile cards on UMPD shrine from <a
                    href="https://vuvuzela.dreamwidth.org/tag/code">vuvuzela</a
                >
            </li>
        </ul>
        <a href="http://www.styledollz.com/" target="_blank"
            ><img src="/link-backs/Banner_StyleDollz5.gif" /></a
        >

        <a href="https://iframe.chat/"
            ><img
                src="https://iframe.chat/chattable-alt.gif"
                title="Add a stream chat to your website free with Chattable"
                alt="Chattable"
            /></a
        >

        <a target="_blank" href="https://kwaamfan.neocities.org/"
            ><img src="https://files.catbox.moe/egpfu7.gif" alt="kwaamfan" /></a
        >
    </div>

    <div slot="full"></div>

    <div slot="left-half">
        <h2>images...</h2>
        <p>
            all of the pixels, dividers, etc. that i use can be found in my <a
                href="/me/toybox.html">toybox</a
            >. However my general blinkies, stamps and other images that seem to
            be found across collections are not sources since i can't always pin
            point where they came from. here are the sites i found a lot of
            those repeat images.
        </p>
        <hr />

        <ul>
            <li>
                <a href="https://adriansblinkiecollection.neocities.org/"
                    >Adrian's Blinkie Collection</a
                >
            </li>
            <li>
                <a
                    href="https://sugaa.tumblr.com/post/70120611883/favicon-masterpost"
                    >sugaa favicon masterpost</a
                >
            </li>
            <li>
                <a href="https://blog.spacehey.com/entry?id=1199613"
                    >Manhunter's massive collection of links</a
                >
            </li>
            <li>
                <a href="https://pixel-dreams.tumblr.com/tagged/faq"
                    >Pixel-Dreams</a
                >
            </li>
        </ul>
    </div>
    <div slot="right-half">
        <h2>extras...</h2>

        <ul>
            <li>
                <a href="https://codepen.io/sadness97/full/YPXMmve">
                    88x31 button maker on codepen</a
                >
            </li>
            <li>
                <a href="https://codepen.io/sadness97/details/VwmBjWo">
                    Load image on random on refresh on codepen</a
                >
            </li>
            <li>
                <a
                    href="https://maphren.neocities.org/blog/posts/19-05-2024-surfing-waves-rss-guide#guide"
                    >How to get my status.cafe to display using surfing-waves</a
                >
            </li>
            <li>
                Click Explosion script <a
                    href="https://scripted.neocities.org/cursor-bg">scripted</a
                >
            </li>
            <li>
                <a href="https://gifcity.carrd.co/#"
                    >Gif City for images and codes</a
                >
            </li>
            <a href="https://scripted.neocities.org/" target="_blank"
                ><img src="/link-backs/SCRIPTED-BUTTON.gif" /></a
            >
            <li>
                <a href="https://rentry.co/codesies">
                    Rentry various code tutorials for different site effects and
                    animations
                </a>
            </li>
            <li>
                <a href="https://pixelsafari.neocities.org/webring/">
                   
                        This is a webring for people who provide resources such
                        as graphics, layouts, or tutorials. If it's practical
                        and you're sharing it, you're more than welcome here!
                  
                </a>
            </li>
        </ul>
    </div>
</Layout>
