---
import Layout from "../layouts/Layout.astro";

const title = "shuttle";
const subtitle = "links out";
const bannerImage = "/bg/ondatrain.gif";
const tinyImage = "/smalls/sm-trolley.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <div class="flexbox">
            <div>
                <h3>link back?</h3>

                <img
                    src="/link-backs/gelseylandbanner.jpg"
                    style="width: 150px; display: block;
  				margin-left: auto;
  				margin-right: auto;"
                    alt="ticket to gelseyland"
                />

                <div class="codebox">
                    <code
                        >&lt;a
                        href=&quot;https://gelseyland.neocities.org/&quot;
                        target=&quot;_blank&quot;&gt;&lt;img src="please
                        download and host on your page" alt=&quot;ticket to
                        gelseyland&quot;&gt;&lt;/a&gt;</code
                    >
                </div>
            </div>
            <div>
                <h3>social links</h3>
                <ul>
                    <li>
                        <a
                            href="https://bsky.app/profile/gelseyland.bsky.social"
                            >Bluesky</a
                        >
                    </li>
                    <li>
                        <a href="https://neocities.org/site/gelseyland"
                            >neocities</a
                        >
                    </li>
                    <li><a href="https://x.com/GelseyLand91353">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div slot="full">
        <h2>favorite sites</h2>
        <a href="https://eunoia.sayitditto.net/" target="_blank"
            ><img src="/link-backs/eunoiabutton.png" /></a
        >
        <a href="https://www.lejlart.com/apple.html" target="_blank"
            ><img
                src="/link-backs/AD_meltycorn.gif"
                alt="Eunoia say it ditto"
            /></a
        >
        <a href="https://cinni.net/" target="_blank"
            ><img src="/link-backs/cinni_angelbutton3.gif" /></a
        >
        <a href="https://cepheus.neocities.org/stars/" target="_blank"
            ><img
                alt="click to visit cepheus"
                src="/link-backs/button2.gif"
            /></a
        >
        <a href="https://maya.land/" target="_blank"
            ><img src="/link-backs/mayalandbanner.png" /></a
        >
        <a href="https://luvstarkei.com/about/" target="_blank"
            ><img src="/link-backs/LuvstarKeiButton-1.webp" /></a
        >
        <a href="https://lilithdev.neocities.org/"
            ><img
                src="https://lilithdev.neocities.org/buttons/lilithdevbtn.gif"
            /></a
        >
        <a target="_blank" href="https://kwaamfan.neocities.org/"
            ><img src="https://files.catbox.moe/egpfu7.gif" alt="kwaamfan" /></a
        >
        <a target="_blank" href="https://lostletters.neocities.org/"
            ><img src="/link-backs/LostLetters88x31.gif" alt="lostletters" /></a
        >
        <a target="_blank" href="https://doqmeat.com/"
            ><img src="/link-backs/doqmeat-2.png" alt="doqmeat" /></a
        >
        <a href="http://sweetcharm.net/" target="_blank"
            ><img
                src="/link-backs/bannericeream.gif"
                width="88"
                height="31"
            /></a
        >

        <a href="https://decodreams.neocities.org/" target="_blank"
            ><img
                src="https://decodreams.neocities.org/buttons/decodreamsbutton1.gif"
                alt='decodreams"'
            /></a
        >
        <a href="https://xandra.cc/" target="_blank"
            ><img src="https://xandra.cc/88x31-by-rosedryad.png" /></a
        >
        <a href="https://softheartclinic.neocities.org/home" target="_blank"
            ><img src="/link-backs/softheartclinic.gif" /></a
        >
        <a href="https://faeraphim.net/main/index.htm" target="_blank"
            ><img src="/link-backs/faelink.png" /></a
        >
        
    </div>

    <div slot="left-half"></div>
    <div slot="right-half">
    </div>
</Layout>
