---
import Layout from "../layouts/Layout.astro";

const title = "fortune teller";
const subtitle = "magick and paganism";
const bannerImage = "/bg/hoshi_y_t.gif";
const tinyImage = "/smalls/cryball.gif";
---

<style>
    li {
        list-style: url(/public/smalls/mushroom7.gif);
    }
</style>
<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <h2>Quick Practice Rundown</h2>
        <ul>
            <li></li>
        </ul>
    </div>

    <div slot="full">
        <hr />
        <h2>Slavic Praxis</h2>
        <p>
            <b>Kitchen Witchery</b> - Using intention and ingredients with symbolic
            meaning to produce magick
        </p>
        <p>
            <b>Dreams</b> Both the interpretation of dreams meanings as well as journeying
            on the astral plane in sleeping hours
        </p>
        <p>
            <b>Herbalism</b> The symbolic and practical use of herbs, plants, and
            nature in witchcraft
        </p>
        <p>
            <b>Color Correspondences</b> The associations between colors and their
            meanings in magical practice
        </p>
        <p>
            <b>Ancestral Veneration</b> Ancestor worship by prayer, offerings, and
            learning about the family history
        </p>
        <hr />
        <h2>faq about my practice</h2>
        <mark>is this a closed practice?</mark>
        <p>
            I primarily practice paganism and slavic native faith and both are
            open to all those who have open hearts and minds! While Slavic
            Native Faith is geared towards those who have slavic heritage, it's
            not something you have to be born into. I encourage if you are
            slavic to look up practices specific to your region! And if you're
            new to Slavic culture - Dobrodošli!
        </p>
        <mark>What region are you from?</mark>
        <p>I am south Slavic with some western and celtic influences.</p>
        <mark>were you raised in the practice?</mark>
        <p>
            Yes and No. I was raised Catholic but came to understand a lot of
            how our family practiced was rooted in slavic pagan traditions. The
            south slavs were conquered by Christians very early on and hid a lot
            of their practice through a method called <a
                href="https://slife.org/slavic-paganism/">"double faith"</a
            >. As I do more research I'm understanding more of what my family
            has practiced is tied to this culture.
        </p>
        <mark>Why am I finding so many ... Natzi references?</mark>
        <p>
            While many neo natzi groups have tried to <a
                href="https://youtu.be/YbHr3DHdXfo?si=1RJmSCgRQnaAZJgm"
            >
                co-opt slavic iconography</a
            > or traditions in order to spread their hatred and racism, the core
            movement itself esposes inclusivity and diversity. However it is very
            important to vet sources, communities, and retailers in this world to
            avoid associating with the wrong crowd. Learn more about <a
                href="https://medium.com/@amyhale93/the-pagan-and-occult-fascist-connection-and-how-to-fix-it-d338c32ee4e6"
                >The Pagan and Occult Fascist Connection and How to Fix it.
            </a>
        </p>
        <mark>So cool you use swasticas?</mark>
        <p>
            uh no. ᵕ̈ while I understand some people wanting to " reclaim" the
            symbol - I do not. There's plenty of other spritual symbols that
            have a lot of meaning and historical value that
            <b>dont</b> make me or others feel threatened. I understand the intent
            - but there's still too much modern use of this symbol to justify reclaiming
            it. In all aspects of my practice - safety first.
        </p>
    </div>

    <div slot="left-half">
        <h2>learn more!</h2>
        <ul>
            <li>
                <a href="https://staroverci.si/">Slovenski Staroverci</a
                >(Slovenian Old Believers Association)
            </li>
            <li>
                <a href="https://www.youtube.com/@SlavicDeerGirl"
                    >@SlavicDeerGirl</a
                > Youtuber with a Polish background but does a good job of discussing
                general Slavic paganism and practices.
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=Hclpxfg8Qt4"
                    >Anastasia Arcana</a
                > Youtuber with several videos on Slavic culture and practices.
            </li>
            <li>
                <a href="https://emka.si/products/a-treasury-of-slo-folklore-1"
                    >A Treasury of Slovenian Folklore 1 and 2</a
                > A collection of folklore stories, myths, creatures, and holiday
                traditions in Slovenia. Does have English copies.
            </li>
            <li>
                <a href="https://sanjevile.wordpress.com/">Sanjevile</a> A humble
                little blog about Old Way traditions from Slovenia.
            </li>
            <li>
                <a href="http://sms.zrc-sazu.si/pdf/06/SMS_06_Kropej.pdf"
                    >Cosmology and Deities in Sloven Folk Narrative and Song
                    traditions</a
                > Research done by Monika Kropej on Slovene folklore and mythology.
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=Z305pURwfmU">
                    Katia PavlovArt</a
                > Slavic mythology content creator.
            </li>
        </ul>
        <hr />
        <h3>a bit of advice</h3>
        <p>
            The slavic pagan tradition was primarily passed down through oral
            tradition. Most written accounts were done by Christian who often
            mistook or exaggerated the practices they wrote about with the
            intent of dissuading paganism and pagan practices. Try to make sure
            you're seeing information from multiple credible sources.
        </p>
    </div>

    <div slot="right-half">
        <a href="https://faeraphim.net/main/index.htm" target="_blank"
            ><img src="/link-backs/faelink.png" /></a
        >
        <a href="https://benitengu.neocities.org/"
            ><img src="https://benitengu.neocities.org/benitengu.gif" /></a
        >
        <a href="https://fencraft.leprd.space/" target="_blank"
            ><img
                src="https://fencraft.leprd.space/Links/link-pr/fencraft.gif"
            /></a
        >
    </div>
</Layout>
