---
import Layout from "../layouts/Layout.astro";

const title = "fun house";
const subtitle = "lifestyle";
const bannerImage = "/images/ideal.png";
const tinyImage = "/smalls/sm-dress.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
       
        <p>
            I'm meticulous about systems - it comes free with my
            neurodivergency. I need a sustainable and actionable plan to make me
            feel like anything is happening. If I dont see it and write it down
            it didn't happen
        </p>
        <img
            src="/images/crystalunicorn.gif"
            alt="a crystal unicorn"
            style="float: right; margin-left: 20px;"
        />
        <h4>enter the life audit</h4>
        <p>
            while struggling to find a way to feel like i'm actually working
            towards my goals in life I went about creating an audit for my life.
            it works perfectly for me, and it just so might work mediocre for
            you. you might even think the idea of being this obsessive about
            your life is insane. it is. dont show this page to my therapist
        </p>
    </div>

    <div slot="full">
        <h2>how i audit my life</h2>
        <h3>Step 1: general focus</h3>
        <p>
            before i get into the different areas of my life i like to just take
            a wholistic focus on what I've been up to. I try to look through my
            past to do lists, see my calendar of events I've attended and look
            relevant diary posts. What has been capturing my attention? What
            patterns do I see? Once I'm able to really define the past two
            months or so I answer the following questions:
        </p>
        <ul>
            <li>What is my dominant emotion lately?</li>
            <li>
                What has been on my mind a lot lately? Why do I think about it
                so much?
            </li>
            <li>What has made me happiest recently?</li>
            <li>What is causing me the most stress?</li>
            <li>Are the changes I’ve already implemented serving me?</li>
            <li>What have I done that has made me proud?</li>
            <li>If you had 3 wishes, what would you wish for?</li>
        </ul>
        <h3>Step 2: Drill into my 12 areas</h3>
        <p>
            I've seen many different charts with different areas of life in a
            number of different categories, I've settled on 12 as a good number
            for me because then I can tie them to a zodiac sign and that makes
            me happy. With each life area I like to think about the last 5
            things I've accomplished in there that I'm proud of and then rank on
            a scale 1-10 how satisfied I feel in that area. 1 would be "This
            area of my life is desolate - there is nothing good happening here
            and in fact it drains me" and 10 would be "I could die today and
            feel like I fulfilled every goal in this area of my life". This
            helps me figure out how productive I've been in the areas where I've
            put my energy into."
        </p>
        <div class="center">
            <ul>
                <h4>My 12 Life Areas</h4>
                <img src="/div/yellow3.gif" />
                <li>Personal Expression</li>
                <li>Finances and Goals</li>
                <li>Community Involvement</li>
                <li>Home and Safety</li>
                <li>Art and Creative</li>
                <li>Health</li>
                <li>Jobs and Daily tasks</li>
                <li>Spiritual</li>
                <li>Social and Relationships</li>
                <li>Education</li>
                <li>Career and growth</li>
                <li>Fun and Joy</li>
                <img src="/div/yellow3.gif" />
            </ul>
        </div>
        <h3>step 3: making plans</h3>
        <p>
            At this point in the audit I've got a good sense of what areas I've
            been neglecting and may even start thinking of new goals or projects
            I want to pursue. I try to limit to about 3 areas but this is an art
            not a science. To help me figure out my next goals I ask myself the
            following:
        </p>
        <h4>What are my priorities in terms of shoulds and wants?</h4>
        <h4>
            Are there looming threats or opportunities in the next 2 months to
            take advantage of?
        </h4>
        <br />
        <h3>step 4: troubleshooting</h3>
        <p>
            oh boy I've got a list of goals now that I want to accomplish! I'm
            usually very optimistic and hopeful at this point - unaware that in
            2 weeks time I will be completely unwilling to do the work to make
            these things happen. Knowing this - I use this step as a way to both
            keep accountable and compassionate. If you're neurospicy like me
            it's important to understand your natural urges to want to quit
            goals and work around them rather than just trying to muscle your
            way through it. I try to list out the problems I will likely run
            into (especially if I've tried to do a goal similar to this in the
            past and failed). I'll then think up some ideas on how to solve it
            and what tools I have in my disposal. For example
        </p>
        <br />
        <table>
            <tr>
                <th>goal</th>
                <th>problem</th>
                <th>strategies</th>
                <th>tools</th>
            </tr>
            <tr>
                <td>learn piano</td>
                <td>no motivation, no time</td>
                <td
                    >schedule micro practice sessions, follow 5 piano players on
                    social</td
                >
                <td>tiktok, calendar, my planner, habbit tracker</td>
            </tr>
            <tr>
                <td>Volunteer for something</td>
                <td>i have no idea what i want to do and for who</td>
                <td
                    >research, ask friends, think about issues that matter to me</td
                >
                <td>journal, news articles, community boards </td>
            </tr>
        </table>
        <br />
        <h3>step 5: follow up</h3>
        <p>
            I'm going to forget about this - i know my brain. So I plan to
            regularly look back at this audit and check in on my lists. I
            normally update the goals with a 5th column for "progress" where i
            put how far I've gotten in the goal. At this point I'll usually have
            run into new problems so I'll refresh my list of problems and think
            of new solutions. And it's very often that my problem is "i dont
            care" or "i dont want to" - in which case I try to honestly think
            about if this was a spur of the moment goal or if it's something I
            want despite not wanting to do the work. If it's the latter I may
            think up incentives to finish the goal. Just because I dont want to
            do something doesn't mean I dont want the outcome. Like fuck I hate
            mopping my floors but it feels great once they're clean!
        </p>
        <br />

        <div
            class="dividerimg"
            style="background-image: url('/div/ribbonlinksdiv.gif');"
        >
        </div>
        <br />
    </div>

    <div slot="left-half">
        <!--dont forget to copy the css if using elsewhere -->
        <div class="hero">
            <a href="/umpd.html" class="button" style="font-size: 1.25rem;"
                >coming soon - my magick practice</a
            >
        </div>

        <p>
            Source: <a
                href="https://haruchonns.tumblr.com/post/50142146786/pinkagony-cicely-mary-barker-the-narcissus"
                >Cicely Mary Barker</a
            >
        </p>
    </div>

    <div slot="right-half">
        <h2>Useful links</h2>
        <ul>
            <li>
                <a href="https://lepanache.substack.com/"> Le Panache et Moi</a>
                A fashion and lifestyle blog from a Roccoco Enthusiast
            </li>
            <li>
                <a
                    href="https://theconceptwardrobe.com/build-a-wardrobe/the-theory-planning-your-ideal-wardrobe"
                    >The Concept Wardrobe</a
                > Lost link for how to plan out your entire wardrobe.
            </li>
            <li>
                <a href="https://www.youtube.com/@dearpeachie">Dear Peachie</a> A
                comprehensive beauty channel that goes in depth to explain proportions
                and balancing for both beauty and fashion.
            </li>
        </ul>
        <style>
            <style > .posts-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
                gap: 0.5rem;
                margin-top: 1rem;
            }

            .hero {
                background: url("https://64.media.tumblr.com/8df9e9227ddbb40f5c6efd32d3c44ed5/92fd5e86c9b89a90-dd/s640x960/a46aa8b43662c8364a24464fc03f275bbb1b76a7.pnj"),
                    url("https://64.media.tumblr.com/tumblr_m2yc2gEd541r361u8o1_500.png");
                background-size: cover, cover;
                background-position: center, center;
                background-repeat: no-repeat, no-repeat;
                height: 400px;
                position: relative;
            }
            .hero a {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            table {
                border: 3px solid #ffecb6;
                spacing: 5px;
                width: auto;
                border-collapse: separate;
                border-spacing: 5px;
            }

            li {
                list-style: url(/smalls/star2.gif);
            }
        </style>
    </div>
</Layout>
