---
import Layout from "../layouts/Layout.astro";

const title = "dark ride";
const subtitle = "new web";
const bannerImage = "/bg/hoshi_y_t.gif";
const tinyImage = "/smalls/computer6.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <p>
            i hadn't heard much about the new web movement until one day i got
            on the right side of youtube and watched a <a
                href="https://www.youtube.com/watch?v=Yko-LMBrRQw&t=11s"
                >LuvstarKei IRL</a
            > video. I remember building cool pages like this before - my Tumblr
            account, my sister's Tumblr account...another Tumblr account. Point being
            I learned how to change the background image and felt like a bonafied
            hacker.
        </p>
        <br />
        <div class="center">
            <iframe
                src="https://giphy.com/embed/JIX9t2j0ZTN9S"
                width="200"
                height="200"
                style=""
                class="giphy-embed"
                ></iframe><p>
                <a href="https://giphy.com/gifs/JIX9t2j0ZTN9S">via GIPHY</a>
            </p>
        </div>
        <br />
        <p>
            this inspired me to get back to the thing i love most - building my
            own little world. Sometimes my little neurodivergent brain was happy
            arranging my mom's nail polishes and imagining the social dynamics
            between the short pinks and taller reds. i've completely lost track
            of what the purpose of this paragraph was.
        </p>
    </div>

    <div slot="full">
        <h2>why make a site?</h2>
        <ul>
            <li>
                <mark>Freedom</mark> - you get to post whatever you want, no algo,
                no content guidelines, no text limit, and no format restrictions
            </li>
            <li>
                <mark>skill building</mark> - i'm putting css and html on my resume
                as we speak
            </li>
            <li>
                <mark>nostalgia</mark> - so many of the resouces out there pay homage
                to old web, it's hilarious watching young zoomers posting "rawrxd"
                blinkies in their profiles
            </li>
        </ul>
    </div>

    <div slot="left-half">
        <h2>so you're ready to start working on your own site?</h2>
        <b>lets fucking goooo</b>
        <p>
            So i can't teach you how to code...or build a website. But i can
            teach you how i learned to do it.
        </p>

        <ol>
            <li>
                <mark>explore the sites</mark>: check out my <a
                    href="/me/shuttle.html">shuttle bus</a
                > to other pages and see what they've created. get inspired and know
                what you want to make
            </li>
            <li>
                <mark>get a template</mark>: the scary open notepad was very
                intimidating at first, but editing a template was the training
                wheels i needed to learn my divs from my ps
            </li>
            <li>
                <mark>eat sleep and breathe tutorials</mark> i still find myself
                googling "how to make image centered", if you have seen it online
                it can be done. learn the terminology you need and eventually you
                will figure it out. it's like a puzzle
            </li>
        </ol>
        <div class="center">
            <iframe
                width="187"
                height="105"
                src="https://www.youtube-nocookie.com/embed/p4l5PpdvNGY?si=IqWOx-ihqykqF9V6"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </div>
        <div class="center">
            <i
                >this is the tutorial i followed and it helped me crawl my way
                through my first build!</i
            >
        </div>
        <h3>resources</h3>
        <div class="flexbox">
            <a href="https://sadgrlonline.github.io/archived-sadgrl.online/"
                ><img
                    src="https://sadgrlonline.github.io/archived-sadgrl.online/assets/images/buttons/sadgrlonline.gif"
                /></a
            >
            <a
                href="https://luvstarkei.com/website-resources-and-graphics-collection/"
                ><img src="/link-backs/LuvstarKeiButton-1.webp" /></a
            >
            <a href="https://loveberry.nekoweb.org/"
                ><img src="/link-backs/loveberry.gif" /></a
            >
            <a href="https://petrapixel.neocities.org/" target="_blank"
                ><img
                    src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif"
                    alt="petrapixel"
                /></a
            >
            <p>
                sadgirl is probably one of the best places to get started with
                personal site building basics imo
            </p>
        </div>
        <p>
            Get ideas for different pages on your site from <a
                href="https://32bit.cafe/websiteideas/">32-bit cafe.</a
            >
        </p>
    </div>
    <div slot="right-half">
        <h2>so you're <b>not</b> ready?</h2>
        <p>
            very valid. but there are still ways to enjoy the new web and
            personal websites!
        </p>

        <ul>
            <li>
                <a href="https://sadgrl.online/guides/surf/"
                    >How to surf the web in the year of our lord 2025</a
                >
            </li>
            <li>
                <a
                    href="https://thoughts.melonking.net/guides/introduction-to-the-web-revival-1-what-is-the-web-revival"
                    >Intro to web revival by melon</a
                >
            </li>
            <li>
                <a href="https://yesterweb.org/"
                    >The yesterweb manifesto for a new web</a
                >
            </li>
            <li>
                <a
                    href="https://www.e-flux.com/journal/49/60004/too-much-world-is-the-internet-dead"
                    >"Is the internet dead" essay by hito steyerl</a
                >
            </li>
            <li>
                <a href="https://vimeo.com/719578661"
                    >Talk: The Web Revival and the folk life of virtual worlds</a
                >
            </li>
            <li>
                <a
                    href="https://whiteheartrainbowsoul.neocities.org/web_revival_guide/glossary"
                    >web revival terms by whiteheartrainbowsoul</a
                >
            </li>
        </ul>
        <div class="flexbox">
            <!-- The Old Net Embed Code -->
            <p>
                <a
                    href="http://www.theoldnet.com/#frombadge"
                    title="Are you tired of this new Internet yet? Time to Get TheOldNet!"
                >
                    <img
                        src="//theoldnet.com/images/theoldnetanimblur2.gif"
                        width="88"
                        height="31"
                    />
                </a>
            </p>
            <!-- End The Old Net Embed Code -->
        </div>
        <p>
            <mark>helpful hint</mark> pages titled "links out" or "affiliates" will
            usually lead you to sites recommended by the owner and are a great place
            to discover new pages!
        </p>
        <hr />
        <h3>key terms</h3>
        <ul>
            <li>
                <b>web revival</b>: the concept of taking back ownership of the
                web to be an equal opportunity space in the midst of
                corporations taking over and currating most content. (aka small
                web, personal web, web 3.0)
            </li>
            <li>
                <b>old web</b>: retro sites that draw inspiration from the 90's
                early 2000's in aesthetic, content and or programing
            </li>
            <li>
                <b>neocities</b>: the place where many people in web revival
                host their sites
            </li>
        </ul>
    </div>
</Layout>
