---
import Layout from "../layouts/Layout.astro";

const title = "dark ride";
const subtitle = "new web";
const bannerImage =
    "https://64.media.tumblr.com/93e8bf7ab2241196d8c5e50adf428472/47da191381c73af5-71/s500x750/272686bc418052e11c14eed5bc029161563a409b.gifv";
const tinyImage = "/smalls/computer6.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <p>
            i hadn't heard much about the new web movement until one day i got
            on the right side of youtube and watched a <a
                href="https://www.youtube.com/watch?v=Yko-LMBrRQw&t=11s"
                >LuvstarKei IRL</a
            > video. I remember building cool pages like this before - my Tumblr
            account, my sister's Tumblr account...another Tumblr account. Point being
            I learned how to change the background image and felt like a bonafied
            hacker.
        </p>
        <br />
        <div class="center">
            <iframe
                src="https://giphy.com/embed/JIX9t2j0ZTN9S"
                width="200"
                height="200"
                style=""
                class="giphy-embed"></iframe><p>
                <a href="https://giphy.com/gifs/JIX9t2j0ZTN9S">via GIPHY</a>
            </p>
        </div>
        <br />
        <p>
            this inspired me to get back to the thing i love most - building my
            own little world. Sometimes my little neurodivergent brain was happy
            arranging my mom's nail polishes and imagining the social dynamics
            between the short pinks and taller reds. i've completely lost track
            of what the purpose of this paragraph was.
        </p>
    </div>

    <div slot="full">
        <h2>why make a site?</h2>
        <ul>
            <li>
                <mark>Freedom</mark> - you get to post whatever you want, no algo,
                no content guidelines, no text limit, and no format restrictions
            </li>
            <li>
                <mark>skill building</mark> - i'm putting css and html on my resume
                as we speak
            </li>
            <li>
                <mark>nostalgia</mark> - so many of the resouces out there pay homage
                to old web, it's hilarious watching young zoomers posting "rawrxd"
                blinkies in their profiles
            </li>
            <li>
                <mark>fuck capitalism</mark> - decentralize the web. stop algorithms
                for making choices for you. explore and currate your own web experience.
            </li>
        </ul>
    </div>

    <div slot="left-half">
        <h2>so you're ready to start working on your own site?</h2>
        <b>lets fucking goooo</b>
        <p>
            So i can't teach you how to code...or build a website. But i can
            teach you how i learned to do it.
        </p>

        <ol>
            <li>
                <mark>explore the sites</mark>: check out my <a
                    href="/me/shuttle.html">shuttle bus</a
                > to other pages and see what they've created. get inspired and know
                what you want to make
            </li>
            <li>
                <mark>get a template</mark>: the scary open notepad was very
                intimidating at first, but editing a template was the training
                wheels i needed to learn my divs from my ps
            </li>
            <li>
                <mark>eat sleep and breathe tutorials</mark> i still find myself
                googling "how to make image centered", if you have seen it online
                it can be done. learn the terminology you need and eventually you
                will figure it out. it's like a puzzle
            </li>
        </ol>
        <div class="center">
            <iframe
                width="187"
                height="105"
                src="https://www.youtube-nocookie.com/embed/p4l5PpdvNGY?si=IqWOx-ihqykqF9V6"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </div>
        <div class="center">
            <i
                >this is the tutorial i followed and it helped me crawl my way
                through my first build!</i
            >
        </div>
        <h3>resources</h3>
        <div class="flexbox">
            <a href="https://sadgrlonline.github.io/archived-sadgrl.online/"
                ><img
                    src="https://sadgrlonline.github.io/archived-sadgrl.online/assets/images/buttons/sadgrlonline.gif"
                /></a
            >
            <a
                href="https://luvstarkei.com/website-resources-and-graphics-collection/"
                ><img src="/link-backs/LuvstarKeiButton-1.webp" /></a
            >
            <a href="https://32bit.cafe/"
                ><img src="https://32bit.cafe/linktous/32b-pcb.png" /></a
            >
            <a href="https://petrapixel.neocities.org/" target="_blank"
                ><img
                    src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif"
                    alt="petrapixel"
                /></a
            >
            <h3>Helpful Links</h3>
            <ul>
                <li>
                    <a href="https://www.w3schools.com/">W3 Schools</a> Best beginner
                    HTML tutorial
                </li>
                <li>
                    <a href="https://astro.build/">Astro</a> A javascript web framework
                    (aka make it easier to repeat content like layouts)
                </li>
                <li>
                    <a href="https://code.visualstudio.com/">VS Studio Code</a> Open
                    source coder (ai functions can be turned off)
                </li>
                <li>
                    <a
                        href="https://scumsuck.com/resources/deployneocities/#before-you-start-3"
                        >Deploying to Neocities</a
                    > I did not understand the first thing about github until i read
                    this tutorial. This is the most hand holding guide to get you
                    to be able to automatically update your neocities site from a
                    github repository.
                </li>
                <li>
                    <a
                        href="https://scumsuck.com/resources/deployneocities/#before-you-start-3"
                        >Deploying to Neocities</a
                    > I did not understand the first thing about github until i read
                    this tutorial. This is the most hand holding guide to get you
                    to be able to automatically update your neocities site from a
                    github repository.
                </li>
            </ul>
        </div>
    </div>
    <div slot="right-half">
        <h2>so you're <b>not</b> ready?</h2>
        <p>
            very valid. but there are still ways to enjoy the new web and
            personal websites!
        </p>

        <ul>
            <li>
                <a href="https://sadgrl.online/guides/surf/"
                    >How to surf the web in the year of our lord 2025</a
                >
            </li>
            <li>
                <a
                    href="https://thoughts.melonking.net/guides/introduction-to-the-web-revival-1-what-is-the-web-revival"
                    >Intro to web revival by melon</a
                >
            </li>
            <li>
                <a href="https://yesterweb.org/"
                    >The yesterweb manifesto for a new web</a
                >
            </li>
            <li>
                <a
                    href="https://whiteheartrainbowsoul.neocities.org/web_revival_guide/glossary"
                    >web revival terms by whiteheartrainbowsoul</a
                >
            </li>
        </ul>
        <div class="flexbox">
            <!-- The Old Net Embed Code -->
            <p>
                <a
                    href="http://www.theoldnet.com/#frombadge"
                    title="Are you tired of this new Internet yet? Time to Get TheOldNet!"
                >
                    <img
                        src="//theoldnet.com/images/theoldnetanimblur2.gif"
                        width="88"
                        height="31"
                    />
                </a>
            </p>
            <!-- End The Old Net Embed Code -->
        </div>
        <p>
            <mark>helpful hint</mark> pages titled "links out" or "affiliates" will
            usually lead you to sites recommended by the owner and are a great place
            to discover new pages!
        </p>
        <hr />
        <h3>Small Steps</h3>
        <p>
            Building a website is hard man - but you can make accounts on a lot
            of decentralized websites to enjoy yourself. Here are some services
            that I like
        </p>
        <ul>
            <li>
                <a href="https://proton.me/mail">Proton Mail</a> encrypted email
                service based in Switzerland, bye gmail
            </li>
            <li>
                <a href="https://brave.com/download/">Brave Browser</a> I dont use
                it all the time but I do like it as a replacement for "incognito
                mode"
            </li>
            <li>
                <a href="https://filegarden.com/">File Garden</a> Holds files of
                any kind you can link back to later, replace your google drive
            </li>
        </ul>
    </div>
</Layout>
