---
import "../styles/main.css";
import "@fontsource/fontdiner-swanky";
---

<div
    style="background: url('/bg/d08-bg-twinkle.gif') repeat center center fixed; background-size: auto;"
>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Updates</div>
        </div>

        <div class="card-content">
            <!-- Repeated section -->
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>10/4/25</b></div>
                <div class="update-text">
                    Changed all my headers to have different images, added a <a href="/self">lifestyle</a> section which features my general glow up plans and goal planning.
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>9/23/25</b></div>
                <div class="update-text">
                    Cleaned up "latest blog post" code to display properly,
                    fixed display of custom bullets
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>8/31/25</b></div>
                <div class="update-text">
                    Revamped my blog layout to only populate 10 at a time
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>8/27/25</b></div>
                <div class="update-text">
                    <a href="/umpd">Uma Musume</a> page is up with pages built for
                    all 3 star cards.
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>8/24/25</b></div>
                <div class="update-text">
                    Integrated my blog into the main website, created a recent
                    posts section for each topic
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>8/19/25</b></div>
                <div class="update-text">
                    fixed the rgi widget so you can all enjoy my cute stamps
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>8/14/25</b></div>
                <div class="update-text">
                    fixed my daggum status.cafe, added goodies to the carousel
                </div>
            </div>
            <div class="update">
                <img src="/avatar/clowncreator.png" class="update-icon" />
                <div class="update-date"><b>8/11/25</b></div>
                <div class="update-text">
                    this is where i'll be putting updates
                </div>
            </div>
            <!-- End repeated section -->
        </div>
    </div>
</div>
