---
import "../styles/main.css";
const { bannerImage } = Astro.props;
---

<header
    class="banner"
    style={`background-image: url('${bannerImage ?? "/link-backs/gelseylandbanner.jpg"}')`}
>
    <a href="/"><span>Gelsey Land</span></a>
</header>
<div class="header-break"></div>
<style>
    .banner {
        background-size: cover;
        background-position: center;
        padding: 100px 20px;
        color: white;
        text-align: center;
    }

    .header-break {
        background: url(/bg/80x80th_carousel1d.gif);
        background-position-y: top;
        background-repeat: round;
        position: relative;
        margin-top: -5px;
        width: 100%;
        height: 80px;
    }
</style>
