---
import "../styles/innertoybox.css";
---

<!--https://codingartistweb.com/2025/05/build-an-image-gallery-with-search-and-filter-using-html-css-and-javascript/-->
<div class="gallery" id="gallery">
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="admit one cutie"
    >
        <img src="/images/admit-one-john3.png" alt="ticket" />
        <p>
            <a
                href="https://toppng.com/free-image/vector-tickets-admission-ticket-admit-one-ticket-template-PNG-free-PNG-Images_277856"
                >John3</a
            >
        </p>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="tiny pixels">
        <div style="flex-direction: row; width:200px;">
            <img src="/smalls/sm-wbear.gif" alt="little bear" />
            <img src="/smalls/sm-ballet.gif" alt="slippers" />
            <img src="/smalls/sm-island.gif" alt="rainbow island" />
            <img src="/smalls/sm-balloons.gif" alt="ballons" />
            <img src="/smalls/sm-tent.gif" alt="red tent" />
            <img src="/smalls/sm-mcrown.gif" alt="princess crown" />
            <img src="/smalls/sm-clown.gif" alt="clownguy" />
            <img src="/smalls/minirbwl.gif" alt="rainbow left" />
            <img src="/smalls/minirbwr.gif" alt="rainbow right" />
            <img src="/smalls/sm-dress.gif" alt="dress" />
            <img src="/smalls/sm-trolley.gif" alt="trolley" />
            <img src="/smalls/sm-tutu.gif" alt="tutu" />
            <img src="/smalls/sm-wheel.gif" alt="wheel" />
            <img src="/smalls/sm-ds.gif" alt="ds" />
            <img src="/smalls/sm-coffee.gif" alt="coffee" />
            <img src="/smalls/sm-bfish.gif" alt="fish" />
            <img src="/smalls/sm-exclaim.gif" alt="exclaimbow" />
            <img src="/smalls/sm-gf.gif" alt="scream" />
            <img src="/smalls/sm-candle.gif" alt="candles" />
            <img src="/smalls/sm-dripheart.gif" alt="heart" />
            <img src="/smalls/sm-umbrella.gif" alt="black umbrella" />
            <img src="/smalls/sm-perfume.gif" alt="perfume bottle" />
            <img src="/smalls/sm-rtv.png" alt="rilakuma tv" />
            <img src="/smalls/sm-note.gif" alt="yellow music note" />
        </div>
        <p>
            <a href="https://pixels.crd.co">Pixels by Kuurousa</a>
        </p>
    </div>
    <div class="gallery-item" data-category="pixel" data-title="x">
        <img src="/images/ballerina1.gif" />
        <p>
            <a href="http://www.asterism-m.com/" target="_blank">Asterism</a>
        </p>
    </div>

    <div class="gallery-item" data-category="divtab" data-title="blueribtable">
        <div class="table">
            <table>
                <tr>
                    <td
                        style="background-image: url(/tables/1-blue/1.gif); width: 18px; height: 32px;"
                    ></td>
                    <td
                        style="background-image: url(/tables/1-blue//2.gif); width: 100px; height: 32px;"
                    ></td>
                    <td
                        style="background-image: url(/tables/1-blue//3.gif); width: 17px; height: 32px;"
                    ></td>
                </tr>
                <tr>
                    <td
                        style="background-image: url(/tables/1-blue//4.gif); width: 18px; height: 20px;"
                    ></td>
                    <td
                        style="text-align: center; width: 100px; height: 20px; background-color: aliceblue"
                        >Something goes here!</td
                    >
                    <td
                        style="background-image: url(/tables/1-blue//5.gif); width: 17px; height: 20px;"
                    ></td>
                </tr>
                <tr>
                    <td
                        style="background-image: url(/tables/1-blue//6.gif); width: 18px; height: 23px;"
                    ></td>
                    <td
                        style="background-image: url(/tables/1-blue//7.gif); width: 100px; height: 23px;"
                    ></td>
                    <td
                        style="background-image: url(/tables/1-blue//8.gif); width: 17px; height: 23px;"
                    ></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="gallery-item" data-category="divtab" data-title="cloud low">
        <img src="/bg/80x80th_cloud1a.gif" />
        <p>
            <a href="http://www.asterism-m.com/" target="_blank">Asterism</a>
        </p>
    </div>
    <div class="gallery-item" data-category="divtab" data-title="cloud up">
        <img src="/bg/80x80bh_cloud1a.gif" />
        <p>
            <a href="http://www.asterism-m.com/" target="_blank">Asterism</a>
        </p>
    </div>

    <div
        class="gallery-item"
        data-category="divtab"
        data-title="purple carousel horse"
    >
        <img src="/bg/80x80th_carousel1d.gif" />
        <p>
            <a href="http://www.asterism-m.com/" target="_blank">Asterism</a>
        </p>
    </div>

    <div class="gallery-item" data-category="divtab" data-title="lacebow blue">
        <img src="/bg/80x80th_lacebow2c.gif" />
        <p>
            <a href="http://www.asterism-m.com/" target="_blank">Asterism</a>
        </p>
    </div>

    <div class="gallery-item" data-category="divtab" data-title="star clouds">
        <img src="/div/cloudbowdiv.webp" />
        <p>source unknown</p>
    </div>

    <div class="gallery-item" data-category="divtab" data-title="star line">
        <img src="/div/rbowstar.webp" />
        <p>source unknown</p>
    </div>

    <div
        class="gallery-item"
        data-category="back"
        data-title="strawberry choco"
    >
        <img src="/bg/40x80_choco1a_straw.gif" />
        <a href="http://whimsical.heartette.net/index">whimsical</a>
    </div>
    <div class="gallery-item" data-category="back" data-title="purple twinks">
        <div class="flexbox">
            <div>
                <img src="/bg/star1a_purple.gif" />
            </div>
            <div>
                <img src="/bg/star2a_purple.gif" />
            </div>
        </div>
        <a href="http://whimsical.heartette.net/index">whimsical</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="pink castle">
        <img src="/images/pixel-castle.png" width="100px" />
        <a href="https://www.pngegg.com/en/png-tredr">PNG Egg</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="rainbow">
        <img src="/images/longrainbow.webp" width="100px" />
        <a href="https://www.tumblr.com/kidcorebuggy">kidcorebuggy</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="pink unicorn">
        <img src="/images/pinkunicorn.gif" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="air balloon">
        <img src="/images/Transport_66.gif" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>

    <div class="gallery-item" data-category="back" data-title="magic kingdom">
        <img src="/bg/wonderful_land_53.gif" width="100px" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>

    <div class="gallery-item" data-category="back" data-title="amusement park">
        <img src="/bg/wonderful_land_33.gif" width="100px" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="castle">
        <img src="/images/brightcastle.gif" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>
    <div class="gallery-item" data-category="back" data-title="stars">
        <img src="/bg/hoshi_y_t.gif" />
        <a href="http://alicehome.suichu-ka.com/index.htm">Alice Home</a>
    </div>

    <div class="gallery-item" data-category="div" data-title="tickets">
        <img src="/div/ticketdiv.png" />
        <a href="https://www.tumblr.com/dollywons?source=share">Dollywons</a>
    </div>
    <div class="gallery-item" data-category="div" data-title="donuts">
        <img src="/div/donutdiv.png" />
        <a href="https://www.tumblr.com/dollywons?source=share">Dollywons</a>
    </div>
    <div
        class="gallery-item"
        data-category="div"
        data-title="centerpiecebluepink"
    >
        <img src="/div/bluepinkdiv.png" />
        <a href="https://www.tumblr.com/dollywons?source=share">Dollywons</a>
    </div>
    <div class="gallery-item" data-category="div" data-title="balloonpinkblue">
        <img src="/div/pbballoondiv.png" />
        <a href="https://www.tumblr.com/dollywons?source=share">Dollywons</a>
    </div>

    <div class="gallery-item" data-category="div" data-title="bluecurtains">
        <img src="/bg/v08-bg-frill.gif" />
        <a href="https://foollovers.com/Administrator">FOOL LOVERS</a>
    </div>

    <div class="gallery-item" data-category="back" data-title="purpletwinklelg">
        <img src="/bg/d08-bg-twinkle.gif" />
        <a href="https://foollovers.com/Administrator">FOOL LOVERS</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="swan floating">
        <img src="/images/swan.gif" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="swan floating">
        <img src="/images/boombox_by_king_lulu_deer-dba4z2s.gif" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>

    <div class="gallery-item" data-category="back" data-title="carnival land">
        <img src="/bg/bmbg041.gif" />
        <a href="https://ol1vi4s-corner.neocities.org/graphics/stash/scenes"
            >the rainbow locker</a
        >
    </div>

    <div class="gallery-item" data-category="back" data-title="subway">
        <img src="/bg/ondatrain.gif" />
        <a href="https://ol1vi4s-corner.neocities.org/graphics/stash/scenes"
            >the rainbow locker</a
        >
    </div>

    <div class="gallery-item" data-category="back" data-title="subway">
        <img src="/umpd/teatimecouple.webp" />
        <a href="https://www.tumblr.com/grodytube">grody tube</a>
    </div>

    <div class="gallery-item" data-category="pixel" data-title="pompom love">
        <img src="/smalls/pompomlove.webp" />
        <a
            href="https://pixel-world.tumblr.com/post/722662335618088960/pompompurin"
            >pixel-world</a
        >
    </div>

    <div
        class="gallery-item"
        data-category="div"
        data-title="strawberry divider"
    >
        <img src="/div/strawdiv.webp" />
        <a href="https://www.tumblr.com/konatasoup">@konatasoup</a>
    </div>

    <div
        class="gallery-item"
        data-category="pixel"
        data-title="assorted tinies"
    >
        <div style="flex-direction: row; width:200px;">
            <img src="/smalls/checkno.gif" />
            <img src="/smalls/checkyes.gif" />
            <img src="/smalls/cloverL.gif" />
            <img src="/smalls/cloverR.gif" />
        </div>
        <a href="http://trade.gmobb.jp/1kb/">1kwebsozai</a>
    </div>

    <div class="gallery-item" data-category="div" data-title="little stars">
        <img src="/div/tinieststars.gif" /><br />
        <a href="http://trade.gmobb.jp/1kb/">1kwebsozai</a>
    </div>

    <div
        class="gallery-item"
        data-category="back"
        data-title="flower background"
    >
        <img src="/bg/hana1.gif" />

        <a href="http://trade.gmobb.jp/1kb/">1kwebsozai</a>
    </div>
    <div
        class="gallery-item"
        data-category="back"
        data-title="green polkadot bow"
    >
        <img src="/div/big-green-bow.png" />

        <a href="https://fawndollie.tumblr.com/">fawndollie</a>
    </div>
    <div
        class="gallery-item"
        data-category="back"
        data-title="small cloverfield div"
    >
        <img src="/div/smallcloversdiv.png" />

        <a href="https://fawndollie.tumblr.com/">fawndollie</a>
    </div>
    <div
        class="gallery-item"
        data-category="back"
        data-title="small cloverfield div"
    >
        <img src="/bg/greenbowbg.jpg" />

        <a href="https://sozaino.site/">okumono</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="firworks transparent"
    >
        <img src="/images/fireworks.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="tulip flower bed"
    >
        <img src="/images/tulipbed.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="clover flower bed"
    >
        <img src="/images/cloverbed.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="theme park girl with balloons"
    >
        <img src="/images/balloongirlleft.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="theme park girl with balloons"
    >
        <img src="/images/balloongirlright.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="theme park girl with balloons"
    >
        <img src="/images/ballholders.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="unicorn in a crystal ball carousel"
    >
        <img src="/images/crystalunicorn.gif" />

        <a href="https://graphic.neocities.org/">bon's graphic collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="div"
        data-title="small green stars"
    >
        <img src="/div/greenbabystarsdiv.png" />

        <a href="https://rentry.co/candyshoppe">candyshoppe</a>
    </div>
    <div class="gallery-item" data-category="div" data-title="yellow frostine">
        <img src="/div/yellowfrostingdiv.png" />

        <a href="https://rentry.co/candyshoppe">candyshoppe</a>
    </div>

    <div class="gallery-item" data-category="div" data-title="rainbow ribbons">
        <img src="/div/ribbonlinksdiv.gif" />

        <a href="https://rentry.co/candyshoppe">candyshoppe</a>
    </div>
    <div
        class="gallery-item"
        data-category="div"
        data-title="lucky charms cereal"
    >
        <img src="/div/luckycharmsdiv.gif" />

        <a href="https://rentry.co/candyshoppe">candyshoppe</a>
    </div>
    <div
        class="gallery-item"
        data-category="div"
        data-title="patterned stage bright"
    >
        <img src="/div/IMG-1749.png" />

        <a href="https://rentry.co/candyshoppe">candyshoppe</a>
    </div>
    <div
        class="gallery-item"
        data-category="pixel"
        data-title="pompompurin crying on a stack of pillows"
    >
        <img src="/images/sadpom.gif" />

        <a href="https://rentry.co/candyshoppe">candyshoppe</a>
    </div>
    <div class="gallery-item" data-category="pixel" data-title="crane game">
        <img src="/images/cranegame.gif" />

        <a href="https://purinpixel.tumblr.com">purinpixel</a>
    </div>
    <div
        class="gallery-item"
        data-category="div"
        data-title="pallet banner of pastel colors"
    >
        <img src="/bg/palletbanner.webp" />

        <a href="https://purinpixel.tumblr.com">purinpixel</a>
    </div>
    <div class="gallery-item" data-category="back" data-title="sprinkles">
        <img src="/bg/sprankles.webp" />

        <a href="https://purinpixel.tumblr.com">purinpixel</a>
    </div>
    <div
        class="gallery-item"
        data-category="back"
        data-title="music notes and ice cream"
    >
        <img src="/div/musicream.gif" />

        <a href="https://mypillowfort.net/">mypillowfort</a>
    </div>

    <div
        class="gallery-item"
        data-category="back"
        data-title="bear pushing a dessert tray with cake on it"
    >
        <img src="/images/bearcaketrolley.gif" />

        <a href="https://mypillowfort.net/">mypillowfort</a>
    </div>
    <div class="gallery-item" data-category="div" data-title="beadeds">
        <img src="/div/moonbead.png" />
        <img src="/div/moonbead.webp" />
        <a href="https://www.tumblr.com/uzmacchiato/">@uzmacchiato </a>
    </div>
    <div class="gallery-item" data-category="div" data-title="beadeds">
        <img src="/div/candlesbead.png" />
        <img src="/div/candlesbead.webp" />
        <a href="https://www.tumblr.com/uzmacchiato/">@uzmacchiato </a>
    </div>
    <div class="gallery-item" data-category="div" data-title="beadeds">
        <img src="/div/yellow3.gif" />
        <a href="https://pixelsafari.neocities.org">pixel safari </a>
    </div>
    <div class="gallery-item" data-category="pixel" data-title="favicons">
        <div style="flex-direction: row; width:200px;">
            <img src="/smalls/star2.gif" />
            <img src="/smalls/mushroom7.gif" />
            <img src="/smalls/new16.gif" />
            <img src="/smalls/skull10.gif" />
            <img src="/smalls/cryball.gif" />
            <img src="/smalls/computer6.gif" />
        </div>
        <a href="https://pixelsafari.neocities.org">pixel safari </a>
    </div>
    <div class="gallery-item" data-category="div" data-title="pink unicorn">
        <img src="/div/tidy-fence.gif" />
        <a href="https://graphic.neocities.org/">Bon's Graphic Collection</a>
    </div>
    <div
        class="gallery-item"
        data-category="bg"
        data-title="star and grid background"
    >
        <img src="/bg/starsandgrids.webp" />
        <a href="https://backgrounds-baby.tumblr.com/"
            >Backgrounds Baby</a
        >
    </div>
</div>
