<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome to Gelsey Land</title>
        <link rel="stylesheet" href="/styles/gellanding.css" />
        <script src="script.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    </head>
    <body>
    <div class="container">
        <div class="graphic-title">
<h2>Welcome to</h2><div id="title">Gelsey Land</div><img src=gl-pixels/pixel-castle.png height="162.5" width="253.5" alt="castle sourced from @pixelbitchh on Tumblr">
</div>
        <div class="outer">
    <div class="inner"><p>Here is a land where magic delights and smiles grow. All are welcome to share in fun times and happy spaces. With familiar toys, cozy games, and even a spooky sight or two - there's something for everyone. Please show your ticket to the booth and have a magical time! </p>
    <img src="https://64.media.tumblr.com/1ae772cfa2a61bd1165f87f06feab908/d228609892564fdc-a0/s540x810/695bd7abb60422ca4e662f5cc384ea5fb6a77199.gifv" width=300>
    </div>
    <div class="inner">
        <br><br>
        <a href="/home.html">
    <img src='/gl-pixels/admitfull.png' height="300" ; onmouseover="this.src='gl-pixels/admitrip.png';" onmouseout="this.src='gl-pixels/admitfull.png';" />
        </a>  
        <div class="cta">Click your ticket to enter!</div>    </div>
</div>   </div> 
    </body>
    
</html>
