---
import "../styles/umpd.css";
---

<div class="marquee">
    <span>
        <img src="/umpd/maycopy.webp" />
        <img src="/umpd/nicenaturebanner.webp" />
        <img src="/umpd/urarabanner.jpg" />
        <img src="/umpd/waracho.webp" />
        <img src="/umpd/ihearttt.jpg" style="max-height: 22px;" />
    </span>
</div>
