<h2>Slavic Deities</h2>
<p>
    These dietiest were worthsiped during the early 6th. But during the middle
    ages, the slavic countries were taken over by the christians. many of their
    records were kept orally or early writings were done by christian
    missionsaries with the intent of making the practices look undesirable.
</p>
<p>
    The “Old-believers” in Slovenia gather each year to celebrate the holidays
    that are related to the four seasons and the equinox period called Jarilo,
    Mara, Kresnik and Bozhic Svarozhic, as well as to commemorate Perun’s and
    Veles’ Day.The Old-believers are also organiziers of international meetings
    and conferences in the Struga castle in Otochec that are named “Veche Rodne
    Vere” (or Gathering of Native faith). In 2010, the participators of the
    conference published the journal “Triglav” which was dedicated to the
    Slovenian native faith.
</p>

<h2>How to Decide to Work with a Diety</h2>
<p>
    please note most of this information comes from other sources - I have not
    yet started working with a diety where I can confidently give my own advice,
    I will update when I can with my own two cents. Credit given to online
    sources where possible.
</p>
<o>
    <li>
        <mark> you see signs</mark> a diety can often reach out by giving us messages
        in the form of symbols. Maybe you see the animal or plant associated with
        them, maybe there's a significant weather event, or perhaps a strong dream
        that you wake up remembering. The most important thing is that it catches
        you attention. We come across so much stimuli every day - it doesn't need
        to necessarily be a miracle or shocking event, just something that makes
        you stop and notice is enough.
    </li>
    <li>
        <mark>do your research</mark> start either by reading up on the diety you
        think is reaching out or work backwards from the signs you noticed and see
        who they might be connected to. Have an open mind as to which pantheon may
        be reaching out. When I first started I thought Hermes might be trying to
        contact me - and days later I had a dream of what I identified as Hermes
        himself saying "no not me, but him". I later found out that Hermes is a messenger
        god and can often reach out to us in order to help us connect with other
        dieties.
    </li>
    <li>
        <mark>Reach out Respectfully</mark> I once watched a video that had <a
            href="https://www.youtube.com/watch?v=L3VTGW_uuxg"
            >an excellent prayer</a
        > to use when reaching out to a diety for the first time. "Hello ________. I have never reached out to you but if you hear this - hello. I am reaching out to ask if you would like to communicate." This is usually best paired with an offering of some sort. Remember that this is an introduction - and no one likes to be approached immediately with being asked for a favor. But this is where research is important as some pantheons or gods may have certain taboos to adhere to when reaching out.
    </li>
    <li><mark>Use divination</mark> Use whatever method you prefer - or try to utilize a form connected with that diety. This can be a way of getting direct answers about their willingness to work with you, their expectations, what they can provide for you. </li>
    <li><mark>be prepared to really listen</mark> Like I shared in my earlier story - keep an open mind. I thought that Hermes was the right god for me - and it's lead me now down a path of discovering the slavic pantheon which I would have never even thought about when I first started. Just because a diety isn't willing to work with you doesn't mean they hate you or that you're unworthy. They could just know that there's something better out there for you. In life and in prayer - respect the wishes of others. </li>
</o>
<h4>Resources</h4>
<ul>
    <li>
        <a
            href="
            https:
            divinefemininewitchery.com
            blog-1
            choose-a-deity"
            >Divine Feminine Witchery</a
        > <li>
    </li>
    <h2>Slavic Pantheon</h2>
    <p>
        <mark>Perun</mark> God of thunder and lightning. Ruler of mortal world and
        heavens - pre-christian slavics believed in the concept of the sacred world
        tree where the trunk is the land of hte mortals, the roots the underworld
        and the branches are the heavens. Often in conflict with Veles, overseer
        of right and order
    </p>
    <p>Christian Alias: St. Elias</p>
    <p>
        Visuals: Male, bearded or with mustache, carries an ax, sometimes an ox
        or an eagle, riding a chariot pulled by goats
    </p>
    <p>
        Festival: Feast of Perun (successful harvest), Perun's Day or Perunica
        (June 21st aka St. Iliya's Day), winter solstice,thursdays, first
        thunderstorm of the year, July
    </p>
    <p>
        Associations: Oak trees (A sacred tree representing strength and
        endurance.), axes ( A tool of both creation and destruction, symbolizing
        his duality), lightening ( The manifestation of his wrath and power over
        the elements.)the number 9, eagles (his divine messenger), hilltops,
        stone idols
    </p>

    <p>
        Helps with: Oaths (story of Prince Oleg and Prince Igor who made a
        treaties at the shrine of Perun), sacred spaces,
    </p>
    <p>
        When Perun strikes Veles, rain falls—symbolizing victory and fertility
        for the land.
    </p>
    <p>
        The rivalry between Perun and Veles is a clasic cosmic dualism of chaos
        vs order. Perun's victory is the spring and summer whereas Veles's is
        the winter
    </p>
    <p>Symbols: these represent the thunderbolts or sunwheels</p>
    <img
        src="https://i0.wp.com/altargods.com/wp-content/uploads/2024/01/symbols-of-perun.jpg?resize=736%2C331&ssl=1"
        alt="Perun's symbols gromovnik and perunika"
    />
    <p>
        Relative practices: Many people wear ax jewelry or carry an ax
        (thunderstones) as a sign of protection, called upon every time to make
        the space sacred with a sacrificial offering, interceed for good
        weather, successful harvest and protection from evil, offer up acts of
        bravery, lighting bonfires, weather divisions
    </p>

    <p>
        <mark>Makosh </mark> Aka the great weaver, spinner of destiny. Calm personality,
        merciful, values hard work and perseverence. Often placed near wells, associated
        with fertility and "women's work". Magical embroidery is associated with
        her. Messengers are spiders, ants and bees since they are hardworking. Celebrated
        on Fridays and First Friday of November. Wife of Perun.
    </p>
    <p>
        <mark>Lada</mark> mother of perun, goddess of love joy and fertility
    </p>
    <p>
        <mark>Kresnik</mark>God of sun, fire and storm, Christian Alias St. John
        or St. George
    </p>

    <p>
        <mark>Veles</mark> God of wisdom, cattle/animals, and the three afterlife
        realms. Lives on his own traveling worlds and teaching. Feb 11th is his day.
    </p>
    <p>
        <mark>Morana</mark> Goddess of winter, death, and rebirth. Often associated
        with the "drowning" or burning ritual to bring in the new spring. Child of
        perun
    </p>
    <p><mark>Jarvlo</mark>Child of Perun, god of spring and agriculture</p>
    <p>
        <mark>Dziewanna</mark>Child of Perun, goddess of wilderness and hunting
    </p>

    Sources:
    <a href="https://altargods.com/slavic-deities/perun/">Alter Gods</a> includes
    the creation story and Perun's ordeals in saving his sisters. <a
        href="https://www.youtube.com/@PrepovedanaZgodovina"
        >Prepovendana Zgodovina (SLO ONLY)</a
    >
    <a
        href="https://www.thearchaeologist.org/blog/the-worship-of-perun-the-slavic-god-of-thunder"
        >The Archaeologist</a
    >
    <a href="https://mythicalencyclopedia.com/perun/">Mythical Encyclopedia</a>
    <a href="https://meettheslavs.com/perun/">Meet the Slavs</a>
    <a
        href="https://slavic.mythologyworldwide.com/perun-the-god-of-thunder-and-the-keeper-of-balance/"
        >Mythology Worldwide</a
    >
</ul>
