<h2>Slavic Deities</h2>
<p>
    <mark>Makosh </mark> Aka the great weaver, spinner of destiny. Calm personality,
    merciful, values hard work and perseverence. Often placed near wells, associated
    with fertility and "women's work". Magical embroidery is associated with her.
    Messengers are spiders, ants and bees since they are hardworking. Celebrated
    on Fridays and First Friday of November.
</p>
<p>
    <mark>Kresnik</mark>God of sun, fire and storm, Christian Alias St. John or
    St. George
</p>
<p>
    <mark>Perun</mark> God of thunder and lightning, associated with oak trees.
</p>
<p>
    <mark>Veles</mark> God of wisdom, cattle/animals, and the three afterlife realms. Lives on his own traveling worlds and teaching. Feb 11th is his day.
</p>
<p>
    <mark>Morana</mark> Goddess of winter, death, and rebirth. Often associated with
    the "drowning" or burning ritual to bring in the new spring.
</p>
