<h2>Basic Principles</h2>
<h3>Harmony with Nature</h3>
<q
    >They clung to the earth and worshipped it, they respected nature and
    considered it a deity, because they were dependent on it. The Old Believers
    had sacred stones, sacred trees, sacred water sources... But they did not
    have an anthropomorphic deity. The highest was Nikrmana, the
    all-encompassing spirit of nature, who lived in the sky, but was never
    defined by form. Below her were the spirits of all things: the tree spirit,
    the water spirit, and the like. They built blind windows into houses and
    placed special stones in them that stood out in shape or color. These then
    represented stone house spirits -Medvešček 2020
</q>
<ul>
    <li>Always give thanks to nature for what i'ts given to you</li>
</ul>
<h3>Reincarnation and Ghosts</h3>
<p>
    Every believer has their own personal ghost (think guardian angel) who is a
    spirit of the deceased. Reincarnation is part fo the natural circle of life
    and repeated for infinity. The form you come back in is decided by the
    individual. They believe the deceased live on elsewhere and cemetaries were
    not common for visits.
</p>
<h3>The Tročan</h3>
<p>The connection fo three points in a triangle is a significant symbol.</p>
<q
    >“All the invisible forces that ran from one point to another in the tročan
    had a beneficial effect on humans, animals and plants. The point connecting
    two or more tročans had magical power,” Strgar explained to Medvešček. “The
    tročan was present everywhere, in the design of settlements, homesteads,
    orchards. It was the most important artistic building block of their
    designs. When starting to build a house, they first determined the tročan.
    They always looked for a stone of the right size that was already on the
    site, and actually served as a foundation. They carved it and began to build
    the corner of the house from it. This was the first stone of the tročan. The
    second point of the tročan was, depending on the homestead, in the house,
    barn or stable. The third point of the tročan was always somewhere near the
    homestead, but in nature. The location of the third stone was a secret that
    only the master knew about. "If someone found the third stone and destroyed
    it, it was believed that it would disrupt the balance in the house, and the
    residents could get sick or even die. Those who are involved in bioenergy
    and similar matters today say that there is great power in the triangle. If
    you put three stones together, there is great energy between them,"
    Medvešček told Outsider magazine.</q
>
<h3>The 7 Commands</h3>
<p>
    These come from the Soča River valley area - but I really like them on
    principle.
</p>
<ul>
    <li>Respect yourself and equally all the people</li>
    <li>
        Do not take what belongs to the others unless you are in danger of life,
        but take only enough to survive.
    </li>
    <li>Kill only when you and your people are attacked.</li>
    <li>
        Work so much that you live decently. Help generously those who cannot do
        this.
    </li>
    <li>
        - Honesty is the greatest virtue of a man. Lie is the strongest poison
        that kills.
    </li>
    <li>Without love, there is no life.</li>
    <li>Respect your own language and the habits of your ancestors.</li>
</ul>
<h3>
    Dolenjsko Starvoersto</h3>
    <p>
        this is very specific to my region but my ancestors revered water and
        it's healing abilities. They belived birds (especially cranes) carry the
        soulds of the deceased typically to the other side of the moon. tičnice what does this mean??
    </p>
    <h4>Sources</h4>
    <ul>
        <li>
            <a
                href="https://svet24.si/clanek/staroverci-na-slovenskem-so-spostovali-naravo-in-jo-jemali-kot-bozanstvo-1373669"
                >name?</a
            >
        </li>
        <li>
            <a href="/60ab069a5d775.pdf"
                >Staroverstvo - the Old Religion - the Slovene Pre-Christian
                Religion (PDF)</a
            >
        </li>
    </ul>
</h3>
