<h2>Rituals and Praxis</h2>
<p>
    <b>Ritual:</b>repeated, structured sequence of actions or behaviors that
    alters the internal or external state of indiviudals or others.
</p>
<p>
    <b>Praxis:</b>customary practice or conduct, the usual way of doing
    something or conducting oneself
</p>

<h3>Where to Practice</h3>
<p>
    Outside of trees (specifically oak trees for their ties to paganism and
    perun). Trees can also serve as the vessles for dieties to come into in
    place of idols. Research what other trees are connected to dieties. You can
    also look in general plants with connections to gods. If in your area you
    can't find suitable plants you can use divination to see if a plant with a
    similar heald meaning in your area can substitute.
</p>
<p>
    Alter space in the home. This should try to be in a space you frequent often
    like your kitchen. Check for any local taboos on which way it should face.
    Many will do a three tiered space dedicated to the world above (the wall),
    earth (the table),and the underworld (a shelf). The world above should have
    depictions of the big dieties, charms to deflect curses, natural
    representations of the gods. On the earth realm you can have your idols,
    candle burning spaces, offering spaces. The lower realm will typically show
    pictures of ancestors. Not all alters need to be large and flashy, you can
    make smaller mini alters in commonly used spaces like kitchens, tv's or
    computers.
</p>
<p>
    Wherever you decide to practice you need to secure your space from the other
    spirits around. Protect the door to the room where you practice with a fire
    protective symbol, a rosetta charm, metal ore or tool to keep out any
    spirits (take down metal if trying to call benevolent spirits, working with
    Veles or ancestors). Hang protective charms or metal above the windows.
</p>

<h3>Ritual Tools</h3>
<p>
    A blade: Axe or knife, could be marked with symbols, needs to have a good
    metal like iron, steel, etc.
</p>
<p>
    Offerings: Anything to give to the dieties that they are associated with or
    would appreciate with. Avoid blood in the sacred space - it can lead
    antagonizing spirits. If you offer parts of animals it should be gathered,
    cleaned and disposed of respectfully (e.g. cooked meat, sanitized antlers)
</p>
<p>
    Idols: vessels for the dieties and spirits to inhabit. You can use anything
    from carved statues, printed art or cards, connected stones, hand crafts, or
    sentimental items. Be sure to make sure to make sure the preixisting art's
    own spirits will work together well with the diety. It should become
    dedicated with the diety long term. Keep it on the alter always. Keep these
    in good shape.
</p>
<p>
    CLothing: While no clothing is required to practice - it is common to wear
    clothing with sacred embroidery symbols. Look up specifics from your area
    and try to use the 4 elements.
</p>

<h3>Ritual and Prayer</h3>
<p>
    Working with the spirits and dieties should be treated like brining a guest
    into the home. Wash your hands, comb your hair, wear clean clothes. These
    are all basic ways of showing respect.
</p>
<p>
    Prayer/Worship is never required to keep the gods "happy" or anything - it's
    just a larger part of being respectful to the co-existance of the world and
    divine. Your fortunes will increase with the more respect and ethical
    consideration in your life.
</p>
<p>
    Look for patrons in specific areas you want to work in like hunting,
    motherhood, farming etc.
</p>
<p>
    There is no issue to large or small to reach out to the gods on. Household
    offerings and larger community offerings are both valid offerings and
    connections.
</p>
<p>Prayer is part of a relationship with the practitioner. The more time you spend with them the more blessings they will offer to you. They will not smite or condemn you for not working with them.</p>
<p>Watch for omens to find potential gods to work with and use divination to decide how to move forward.</p>
<p>To get the dieties attention offer them a small offering at first like a candle, incense or food.</p>
<p>Dieties will be very direct with rejections - mixed messages are more likely struggling with connections</p>

<h3>Basic Taboos</h3>
<p>
    Never call upon or work with the sun at night and vice versa with the moon.
    Also don't call upon the moon during a new moon. They're sleepy
</p>
<h3>Formal Rituals</h3>
<p>Weddings: In place of them slovenes used a crowning ceremony where the two spouses put wreaths on each other's heads. The groom then offers his hands palms up and the bride places them on her head. </p>
<p>During births the new child is swaddled and a participant knowcks on the floor three times. There is an order in which people are able to see the child. Th emonther is the first to say the childs name and everyone else repeats it. The child is washed in spring water and the extra water is used to water a chosen tree for the child. When they grow up they are told which one is theirs.</p>
<h4>Sources used include:</h4>
<ul>
    <li>
        <a href="https://youtu.be/L3VTGW_uuxg?si=IpfiL9_MupW40Zad">
            Basics of Worship & Starting Praxis</a
        > by słowiańska łania: Slavic polytheism & folklore
    </li>
</ul>
