---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navr from "../components/Navr.astro";
import Navl from "../components/Navl.astro";

import "../styles/main.css";

import "@fontsource/fontdiner-swanky";

const { title, subtitle, tinyImage, bannerImage, } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<title>{title}</title>
	</head>

	<body>
		<div class="container">
			<Header />

			<section class="small">
				<Navl />
				<slot name="after-navl" />
			</section>
			<section class="large">
				<h1>
					<img src={tinyImage ?? "/smalls/sm-balloons.gif"} />
					{title}
					<img src={tinyImage ?? "/smalls/sm-balloons.gif"} />
				</h1>
				<h2>{subtitle}</h2>

				<slot name="main-text" />
				<!-- your content is injected here -->
			</section>

			<section class="small">
				<slot name="before-navr" />
				<Navr />
				<slot name="after-navr" />
			</section>
			<section class="full">
				<slot name="full" />
			</section>
			<!-- add additional full and half sections as needed for the page -->
			<section class="half">
				<slot name="left-half" />
			</section>
			<section class="half"><slot name="right-half" /></section>
		</div>
		<div class="bottom"></div>
		<footer></footer>
		<Footer />
		<script src="/scripts/clicksplosion.js" defer></script>
	</body>
</html>
