---
import UmpdLayout from "../../layouts/UmpdLayout.astro";

const title = "oc";
const subtitle = "uma musume";
---

<UmpdLayout title={title}>
    <div slot="box-left">
        <h2>in game profile</h2>
        <p>add me!</p>
        <mark>110 709 592 375</mark>
        <img src="/umpd/gelseyprofile.jpg" style="max-width: 100%;" />
        <br />
        <p>
            please note - i regularly update my uma and support card to match
            the current CM
        </p>
    </div>
    <div slot="box-right">
        <h2>club musumeido</h2>
        <p>
            okairinasaimasen trainer-sama! welcome to the maid cafe uma musume
            club. we're pretty casual but we like to have fun and support each
            other! We also have a discord for all members 18+
        </p>
        <p>join the club!</p>
        <mark>110 709 592 375</mark>
        <img src="/umpd/musumeido.jpg" style="max-width: 100%;" />
        <p>
            our club gets filled up pretty regularly - if you'd like to join
            please <a
                href="https://users3.smartgb.com/g/g.php?a=s&i=g36-39145-c7#write"
                >shoot me a message</a
            > and I can see if there's space by bumping any inactive members! (Please
            note you must log in at least 1xmonth to stay in the club)
        </p>
        <br />
        <img src="/umpd/umazing.gif" style="max-width: 100%;" />
    </div>
    <div slot="the-whole">
        <h1>Uma OC</h1>
        <h2>Allegra Élan</h2>
        <div class="icon">
            <img src="/umpd/allegraelan.png" />
            <a href="https://picrew.me/en/image_maker/2201471#google_vignette"
                >☆</a
            >
        </div>
        <p>
            name origin: conversano allegra v -sire name | elle neopolitan
            (combination of both her names), south african -dam name
        </p>
        <p>breed: lipizzan</p>
        <p>color: black white white diamond on head, glows white when racing</p>
        <p>
            characteristics: roman nose, large eyes, small ears, muscular legs
        </p>
        <p>Origin: Vienna, Austira</p>
        <p>
            backstory: originally raised for dressage/horse ballet, this pony
            was bored of the humdrum of the european dressage. also she never
            fully turned "white" like the other lipizzans, only the markings on
            her forehead. when traveling she got to see umas racing and
            performing at the Prix de l'Arc de Triomphe.
        </p>
        <p>dream: win the Prix de l'Arc de Triomphe</p>
        <p>personality: loud, clutzy, dramatic</p>
        <hr />
    </div>
    <div slot="the-whole2">
        <h2>Wanna be...rivals?</h2>
        Want to be friends on UMPD? Have an OC you'd like to share? Be sure to leave
        me a message <a
            href="https://users3.smartgb.com/g/g.php?a=s&i=g36-39145-c7#write"
            >on my guestbook</a
        >
        <img src="/div/planterdiv.png" style="max-width: 100%;" />
    </div>
</UmpdLayout>
