---
import UmpdLayout from '../../layouts/UmpdLayout.astro';

const title = "oc";
const subtitle = "uma musume";
---

<UmpdLayout title={title}>
    <div slot="box-left"></div>
    <div slot="box-right"></div>
    <div slot="the-whole">
        <h2>Allegra Élan</h2>
        <div class="icon">
            <img src="/umpd/allegraelan.png" />
            <a href="https://picrew.me/en/image_maker/2201471#google_vignette"
                >☆</a
            >
        </div>
        <p>
            name origin: conversano allegra v -sire name | elle neopolitan
            (combination of both her names), south african -dam name
        </p>
        <p>breed: lipizzan</p>
        <p>color: black white white diamond on head, glows white when racing</p>
        <p>
            characteristics: roman nose, large eyes, small ears, muscular legs
        </p>
        <p>Origin: Vienna, Austira</p>
        <p>
            backstory: originally raised for dressage/horse ballet, this pony
            was bored of the humdrum of the european dressage. also she never
            fully turned "white" like the other lipizzans, only the markings on
            her forehead. when traveling she got to see umas racing and
            performing at the Prix de l'Arc de Triomphe.
        </p>
        <p>dream: win the Prix de l'Arc de Triomphe</p>
        <p>personality: loud, clutzy, dramatic</p>
        <hr />
    </div>
    <div slot="the-whole2">
    </div>
</UmpdLayout>
