---
import UmpdLayout from "../../layouts/UmpdLayout.astro";

const title = "oc";
const subtitle = "uma musume";
---

<UmpdLayout title={title}>
    <div slot="box-left">
        <p>
            this is my collection of memes and fan art edits I've made. Things
            that are not mine will be tagged with original creators.
        </p>
    </div>
    <div slot="box-right"></div>
    <div slot="the-whole">
        <h2>Memes</h2>
        <div class="med">
            <div>
                <img src="/umpd/daijoubu.png" />
                <p>Source: mine!</p>
            </div>
                <div>
                    <img src="/umpd/evilhorse.jpg" />
                    <p>Source: mine!</p>
                </div>
                <div>
                    <img src="/umpd/hujice.png" />
                    <p>Source: mine!</p>
                </div>
                <div>
                    <img src="/umpd/gsherelaught.jpg" />
                    <p>Source: unknown</p>
                </div>
                <div>
                    <img src="/umpd/mchadit.jpg" />
                    <p>Source: unknown</p>
                </div>
                <div>
                    <img src="/umpd/which1u.jpg" />
                    <p>
                        Source: <a
                            href="https://www.newgrounds.com/art/view/linaciari/horse-movie"
                            >linaciari</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/failure.jpg" />
                    <p>
                        Source: <a href="https://beadyeyes.tumblr.com/"
                            >beadyeyes</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/faggot.jpg" />
                    <p>
                        Source: <a
                            href="https://x.com/cosmicwav3s/status/1948644290735079593"
                            >cosmic</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/mejirogay.jpg" />
                    <p>
                        Source: <a
                            href="https://bsky.app/profile/ladraodarte.bsky.social"
                            >@ladraodarte</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/evilsc.jpg" />
                    <p>Source: Discord</p>
                </div>
                <div>
                    <img src="/umpd/austieyes.gif" />
                    <p>Source: unknown</p>
                </div>
                <div>
                    <img src="/umpd/trainguts.jpg" />
                    <p>Source: unknown</p>
                </div>
                <div>
                    <img src="/umpd/ttemploy.jpg" />
                    <p>
                        Source: <a
                            href="https://www.reddit.com/r/UmaMusume/comments/1mvjc7t/teio_will_not_be_employed/"
                            >Soldmyfamilyforaxbox</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/glueer.jpg" />
                    <p>
                        Source: <a
                            href="https://www.reddit.com/user/Fair-Hat581/submitted/"
                            >Fair-Hat581</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/minitheladymono.jpg" />
                    <p>Source: unknown</p>
                </div>
                <div>
                    <img src="/umpd/huff.jpg" />
                    <p>
                        Source: <a
                            href="https://www.tumblr.com/dragaylia-unfound"
                            >@dragaylia-unfound</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/realuma.jpg" />
                    <p>
                        Source: <a
                            href="hhttps://bsky.app/profile/uraysan.newgrounds.com"
                            >@uraysan</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/machine.jpg" />
                    <p>
                        Source: <a
                            href="https://www.reddit.com/r/UmaMusume/comments/1lxn65p/i_love_her_and_i_love_the_game_but_sometimes_they/"
                            >Shadowcat514</a
                        >
                    </p>
                </div>
                <div>
                    <img src="/umpd/random.jpg" />
                    <p>Source: unknown</p>
                </div>
            </div>
</div>
            <div slot="the-whole2">
                <h2>Edits</h2>
                <div class="large">
                    <img src="/umpd/mdwedding.jpg" />
                    <img src="/umpd/husadge.png" />
                    <img src="/umpd/rshappyedit.png" />
                    <img src="/umpd/rshappyquote.png" />
                    <img src="/umpd/smpicprev.png" />
                    <img src="/umpd/tmframe.png" />
                    <img src="/umpd/smeditlove.png" />
                    <img src="/umpd/golshiedit.png" />
                </div>
            </div>
        </div>
    </div>
</UmpdLayout>
