---
import UmpdLayout from "../../layouts/UmpdLayout.astro";

const title = "oc";
const subtitle = "uma musume";
---

<UmpdLayout title={title}>
    <div slot="box-left">
        <h2>uma to dos oct</h2>
        <img src="/umpd/srfandance.gif" style="float:right; max-width:80px;" />
        <div>
            <div class="flex-row" style="margin-bottom: -25px">
                <img src="/smalls/checkno.gif" /><p>build my maru for cancer cup</p>
            </div>
            <div class="flex-row" style="margin-bottom: -25px">
                <img src="/smalls/checkno.gif" /><p>
                    Pull for Gold City Uma (no more than 10k gems)
                </p>
            </div>
            <div class="flex-row" style="margin-bottom: -25px">
                <img src="/smalls/checkno.gif" /><p>
                    Save up to 30k total gems for Riko next month
                </p>
            </div>
        </div>
        <br>
    </div>
    <div slot="box-right">
        <p>
            please note: this game uses a lot of RNG, there is no 100%
            gauranteed way to get the exact result you're looking for.
            Strategies will vary from trainer to trainer and there's no wrong
            way to run an uma if it works! These are my strategies based on my
            own research, I hope they work for you but they may not. Enjoy
            making your own track to victory!
        </p>
        <b
            >This is a strategy guide, not a comprehensive review, see
            recommended resources on the home page!</b
        >
    </div>
    <div slot="the-whole">
        <h2>How to Win at Uma</h2>
        <p>
            First things first: you need to know your objective. Are you trying
            to earn carats by unlocking the perfect ending? Are you training a
            future parent? Do you need a new member for team trials? While TP is
            limited, it's a renewable resource that regenerates everyday. You
            don't want to get caught up in trying to do everything at once,
            solve one problem at a time.
        </p>

        <h3>Winning the Race</h3>
        <p>
            For an easy win you'll want to stick to story cannon as much as
            possible. That means if your girl is a natural front runner for the
            mile with a 20% boost in speed and 10% in wit, that pretty much
            gives you direction on how you'd build that deck. I find the story
            of the URA tends to conicide pretty well with delivering extra
            status boosters to the area they intend for that uma.
        </p>
        <b>URA stats can be lower than stats needed for winning team trials</b
        ><p>
            I didn't understand this at first, but essentially the threshhold is
            lower when you play only against the computer. The normal threshhold
            for stamina is lowered by 400 points. So apply this to the stamina
            chart when determining minimum stamina.
        </p>

        <h3>Winning PVP</h3>
        <p>
            This is where I find you can get more creative. For team trials you
            want to make sure each Uma on your team has a different running
            style (they get point bonuses for this). Thinking outside the box
            can allow you to utilize their strengths in a new way. I've got
            guides on what I plan to do with each uma on their specific page but
            some common examples are running Sakura as a front runner to use her
            need for speed or upping nice natures wit up to turn her into the
            debuffer from hell (Naughty Nature).
        </p>
        <h2>What stats do I need?</h2>
        <h3>Minimum Stamina</h3>
        <p>
            If you don't have the stamina you will die. Think of stamina as your
            HP, and every step you take is like damage taken. You can buff your
            way to make the damage less but if you don't have enough to
            withstand the onslaught you won't survive.
        </p>
        <img src="/umpd/minstamguide.jpg" style="width:100%" />

        <h4>htw does dirt factor into this?</h4>
        <p>
            Dirt requires an extra amount of power to push through the track
            (about 50-100 points). It's usually not classified as it's own race
            becuase the distances will vary - typically in URA and team trials
            dirt is a mile distance.
        </p>

        <h3>Speed and Power</h3>
        <p>
            Again, training is personal but here are the stats I aim for.
            Remember as a beginner, if you can't hit these numbers try to hit
            the ratios instead. (1000, 600, 600 is 5:3:3)
        </p>
        <h4>Speed and Power MINIMUMS</h4>
        <table>
            <tr>
                <th>race distance</th>
                <th>speed</th>
                <th>power</th>
            </tr>
            <tr>
                <td>sprint</td>
                <td>800</td>
                <td>600</td>
            </tr>
            <tr>
                <td>mile</td>
                <td>850</td>
                <td>650</td>
            </tr>
            <tr>
                <td>medium</td>
                <td>900</td>
                <td>600</td>
            </tr>
            <tr>
                <td>long</td>
                <td>750</td>
                <td>600</td>
            </tr>
        </table>

        <h3>wb wit and guts?</h3>
        <p>
            While most of the minimum stats have been build around distance,
            this one i tend to focus more on strategy. But here's the basics of
            it
        </p>
        <p>
            <b>Guts</b> this is irrelevant, even if Tazuna tells you you need more
            to win the race. just hit 400 in your ult build and you're golden
        </p>
        <p>
            <b>Wit</b> The more wit you have the more likely your stats will activate,
            but after a certain number the return on investment in points is moot.
            At 600 you will have a 85% chance of activating...but for 300 more points
            you'll only have a 90% chance of activating. It's not worth going beyond
            600 really for this reason. Even a perfect 1200 will only net you a 92.5%
            occurance rate.
        </p>
    </div>

    <div slot="the-whole2">
        <h2>Deck Builds 101</h2>
        <mark
            >Remember - prioritize building for distance, race strategy should
            come in the form of skills</mark
        >
        <p>When I build in general I'm trying to build an uma based on the meta (intended optimal build). I do this not because I'm a crazed whale but because I am insanely invested in the story and I want to raise the uma to be their best intended style. I care them. So the first thing I'm looking at is their intial stats. Where do they have natural bonuses? What is their ult skill? Who do they naturally vibe with?</p>
        
        <h3>general deck build</h3>
        <ul>
            <li>3 speeds</li>
            <li>1 power</li>
            <li>1 stamina</li>
            <li>1 wit</li>
        </ul>
        <p>
            this will give you a good general run for URA, it won't win you any
            major super umas but if you're just farming it's good enough for
            government work!
        </p>
        <h3>med/long</h3>
    </div>
    <div slot="extra">
        <div class="the-whole">
            <div class="content">
                <div class="container">
                    <h2>Parents 101</h2>
                    <h3>Inheritance Types</h3>
                    <ul>
                        <li>Blue Factor: Stats Highest Priority</li>
                        <li>Pink Factor: Strategy/ distance preference</li>
                        <li>Green Factor: Fixed Skill</li>
                        <li>White Factor: Race/ Skill</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <h2>Turns</h2>
                    <p>
                        For each uma on the <a href="/umpd">main page</a> I've started
                        drafted out ideal strategies based on what races they have
                        to run/my goals. So if you're looking for specific maps to
                        follow for each uma that's the best place to start. However
                        I find some general tips will help you when rng inevitably
                        leads things off the trusted and true trail.
                    </p>
                    <h3>Objectives by year</h3>
                    <p><b>junior</b>Evenly maxing out your friendship gage to orange with all umas. Hopefully when building a deck you are prioritizing umas with good training and friendship bonuses - but if any uma doesn't provide that (or you have a bad mood and they have a mood effect multiplier) then you can put them as a lower priority.</p>
                    <p><b></b></p>
                    <p><b></b></p>
                </div>
            </div>
        </div>
    </div>
</UmpdLayout>
