---
import UmpdLayout from "../../layouts/UmpdLayout.astro";

const title = "oc";
const subtitle = "uma musume";
---

<UmpdLayout title={title}>
    <div slot="box-left">
        <h2>uma to dos oct</h2>
        <img src="/umpd/srfandance.gif" style="float:right; max-width:80px;" />
        <div>
            <div class="flex-row" style="margin-bottom: -25px">
                <img src="/smalls/checkno.gif" /><p>
                    build my maru for cancer cup
                </p>
            </div>
            <div class="flex-row" style="margin-bottom: -25px">
                <img src="/smalls/checkno.gif" /><p>
                    Pull ≤10k for Gold City Uma
                </p>
            </div>
            <div class="flex-row" style="margin-bottom: -25px">
                <img src="/smalls/checkno.gif" /><p>
                    Save 30k total for Riko next month
                </p>
            </div>
        </div>
        <br />
    </div>
    <div slot="box-right">
        <p>
            <mark>please note:</mark> this game uses a lot of RNG, there is no 100%
            gauranteed way to get the exact result you're looking for. Strategies
            will vary from trainer to trainer and there's no wrong way to run an
            uma if it works! These are my strategies based on my own research, I
            hope they work for you but they may not. Enjoy making your own track
            to victory!
        </p>
        <b
            >This is a strategy guide, not a comprehensive review, see
            recommended resources on the home page!</b
        >
    </div>
    <div slot="the-whole">
        <h2>How to Win at Uma</h2>
        <p>
            First things first: you need to know your objective. Are you trying
            to earn carats by unlocking the perfect ending? Are you training a
            future parent? Do you need a new member for team trials? While TP is
            limited, it's a renewable resource that regenerates everyday. You
            don't want to get caught up in trying to do everything at once,
            solve one problem at a time.
        </p>

        <h3>Winning the Race</h3>
        <p>
            For an easy win you'll want to stick to story cannon as much as
            possible. That means if your girl is a natural front runner for the
            mile with a 20% boost in speed and 10% in wit, that pretty much
            gives you direction on how you'd build that deck. I find the story
            of the URA tends to conicide pretty well with delivering extra
            status boosters to the area they intend for that uma.
        </p>
        <b>URA stats can be lower than stats needed for winning team trials</b
        ><p>
            I didn't understand this at first, but essentially the threshhold is
            lower when you play only against the computer. The normal threshhold
            for stamina is lowered by 400 points. So apply this to the stamina
            chart when determining minimum stamina.
        </p>

        <h3>Winning PVP</h3>
        <p>
            This is where I find you can get more creative. For team trials you
            want to make sure each Uma on your team has a different running
            style (they get point bonuses for this). Thinking outside the box
            can allow you to utilize their strengths in a new way. I've got
            guides on what I plan to do with each uma on their specific page but
            some common examples are running Sakura as a front runner to use her
            need for speed or upping nice natures wit up to turn her into the
            debuffer from hell (Naughty Nature).
        </p>
        <img src="/div/tidy-fence.gif" style="width:70%" />
        <h2>What stats do I need?</h2>
        <h3>Minimum Stamina</h3>
        <p>
            If you don't have the stamina you will die. Think of stamina as your
            HP, and every step you take is like damage taken. You can buff your
            way to make the damage less but if you don't have enough to
            withstand the onslaught you won't survive.
        </p>
        <img src="/umpd/minstamguide.jpg" style="width:100%" />

        <h4>htw does dirt factor into this?</h4>
        <p>
            Dirt requires an extra amount of power to push through the track
            (about 50-100 points). It's usually not classified as it's own race
            becuase the distances will vary - typically in URA and team trials
            dirt is a mile distance.
        </p>

        <h3>Speed and Power</h3>
        <p>
            Again, training is personal but here are the stats I aim for.
            Remember as a beginner, if you can't hit these numbers try to hit
            the ratios instead. (1000, 600, 600 is 5:3:3)
        </p>
        <h4>Speed and Power MINIMUMS</h4>
        <table>
            <tr>
                <th>race distance</th>
                <th>speed</th>
                <th>power</th>
            </tr>
            <tr>
                <td>sprint</td>
                <td>800</td>
                <td>600</td>
            </tr>
            <tr>
                <td>mile</td>
                <td>850</td>
                <td>650</td>
            </tr>
            <tr>
                <td>medium</td>
                <td>900</td>
                <td>600</td>
            </tr>
            <tr>
                <td>long</td>
                <td>750</td>
                <td>600</td>
            </tr>
        </table>

        <h3>wb wit and guts?</h3>
        <p>
            While most of the minimum stats have been build around distance,
            this one i tend to focus more on strategy. But here's the basics of
            it
        </p>
        <p>
            <b>Guts</b> this is irrelevant in the first URA, even if Tazuna tells
            you you need more to win the race. just hit 400 in your ult build and
            you're golden
        </p>
        <p>
            <b>Wit</b> The more wit you have the more likely your stats will activate,
            but after a certain number the return on investment in points is moot.
            At 600 you will have a 85% chance of activating...but for 300 more points
            you'll only have a 90% chance of activating. It's not worth going beyond
            600 really for this reason. Even a perfect 1200 will only net you a 92.5%
            occurance rate.
        </p>
    </div>

    <div slot="the-whole2">
        <h2>Deck Builds 101</h2>
        <mark
            >Remember - prioritize building for distance, race strategy should
            come in the form of skills</mark
        >
        <p>
            When I build in general I'm trying to build an uma based on the meta
            (intended optimal build). I do this not because I'm a crazed whale
            but because I am insanely invested in the story and I want to raise
            the uma to be their best intended style. I care them. So the first
            thing I'm looking at is their intial stats. Where do they have
            natural bonuses? What is their ult skill? Who do they naturally vibe
            with?
        </p>
        <h3>What makes a good support card?</h3>
        <p>
            In <a href="https://www.youtube.com/watch?v=nY9CnVhWSJk"
                >Dewloren's video</a
            > on what makes a good stat card he refers to these 4 stats at the "4
            pillars of power". These would be the 4 most important cards because
            they directly contribute to your ability to get more points out of training
            - which we know is the most efficient way to get stats in the current
            ura. The following percents are what are generally considered to be a
            "good" rate. And even if you don't have the high percents - these 4 are
            still the most valuable effects.
        </p>
        <ol>
            <li><mark>specialty priority</mark> [≥50%]</li>
            <li><mark>friendship bonus</mark> [≥30%]</li>
            <li><mark>initial friendship gauge</mark> [≥25%]</li>
            <li>
                <mark>training effectiveness</mark>[≥10%]
            </li>
        </ol>
        <h4>What "could" be a strong card if used effectively</h4>
        <p>
            These are not as necesssary but could impact how you decide to play
            the game. For example if your card has a lot of bonuses from running
            races, you know an uma who needs to hit a high fan count could
            benefit.
        </p>
        <ul>
            <li>
                <mark>mood effect</mark> [≥30%] This is a risky option because if
                you have a bad mood it will multiply the decrease amount
            </li>
            <li>
                <mark>stat or skill point bonus</mark> [2 max] Useful if you're trying
                to boost that specific stat in your build, not consistent
            </li>
            <li>
                <mark>initial stat or skill point</mark> [≥30] Pretty useless in
                comparison to the rest of the stats you'll gain
            </li>
            <li>
                <mark>wit friendship recovery</mark> [5 max] on wit cards only
            </li>
            <li>
                <mark>event recovery</mark> [≥50%] on friend cards only, only used
                on rec
            </li>
            <li>
                <mark>event effectiveness</mark> [≥30%] on friend cards only, only
                used on rec
            </li>
            <li><mark>failure protection</mark> [≥30%] on friend cards only</li>
            <li>
                <mark>energy cost reduction</mark> [≥15%] on friend cards only
            </li>
            <li><mark>race bonus</mark>[≥10%]</li>
            <li><mark>fan bonus</mark>[≥20%]</li>
            <li><mark>hint level</mark>[≥2] useful when it's good skills</li>
            <li>
                <mark>hint frequency</mark>[≥40%] useful when it's good skills
            </li>
        </ul>
        <p>
            <b
                >dont forget to look at the unique perks at the top of the card!</b
            >
        </p>
        <h3>general deck build</h3>
        <p>
            The rule of thumb is as follows - try for only two stats, 3 if
            you're nasty. This will help you to hit higher rating and avoid
            spreading your resources too thin. You don't your uma being a jack
            of all trades master of none. It may let you survive the scenario
            but we want to build targeted umas.
        </p>
        <ul>
            <li>3 speeds</li>
            <li>2 stamina</li>
            <li>1 wit</li>
        </ul>
        <p>
            this will give you a good general run for URA, it won't win you any
            major super umas but if you're just farming it's good enough for
            government work! this could be good for your "fuck it, i just need
            to earn some event rewards" deck build. but if you want to build for
            something more indepth - here are some points to consider
        </p>
        <ul>
            <li>
                It's smarter in general to remove that wit card and replace it
                with another speed or secondary stat you're training...unless
                one of those stats is wit
            </li>
            <li>
                When it comes to long distance you'll need at least 3 stamina
                cards
            </li>
            <li>
                For sprints and mile you can replace your two stamina cards with
                power cards as training power helps boost stamina some too
            </li>
            <li>
                I try to avoid using the friendship card for URA - but if you
                really are struggling you can pop that in place of your wit
            </li>
        </ul>
    </div>
    <div slot="extra">
        <div class="the-whole">
            <div class="content">
                <div class="container">
                    <h2>Parents 101</h2>
                    <h3>Inheritance Types</h3>
                    <ul>
                        <li>Blue Factor: Stats Highest Priority</li>
                        <li>Pink Factor: Strategy/ distance preference</li>
                        <li>Green Factor: Fixed Skill</li>
                        <li>White Factor: Race/ Skill</li>
                    </ul>
                    <p>
                        When I build parents, grandparents or even great
                        grandparents (i know i'm insane). I like to start by
                        thinking about what will give my honse the best
                        advantage. If you could add in an extra 100-250 stat
                        points on one skill without training it what would it
                        be? If you can build a solid 9 star that's what you'll
                        earn after 3 URA turns. What aptitudes could you improve
                        to boost your strategy? That determines your pink. If
                        the stats I need are already A rank I'll either choose
                        to boost their rank up to S or go for boosting turf for
                        a slight stat increase.
                    </p>
                    <p>
                        When it comes to white skills I like to start building
                        those right away with my earliest possible generation.
                        You'll find it's much easier to grind for a good parent
                        when you only have to beat the odds to get a good blue
                        factor. Start with building solid white skills from the
                        beginning and you'll have a much easier time of building
                        a reliable uma. Picking the skills I need depends on
                        what type of race and racer I'm building. For champions
                        meets I'll try to look at the track for picking relevant
                        skills. Also doesn't hurt to win a few g1 race sparks to
                        boost your uma.
                    </p>

                    <p>
                        I live, breathe, and worship at the alter of <a
                            href="https://gametora.com/umamusume">game tora</a
                        > and recommend you use this site if you're ever confused
                        about what a skill does or how to get it.
                    </p>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <h2>URA</h2>
                    <p>
                        For each uma on the <a href="/umpd">main page</a> I've started
                        drafted out ideal strategies based on what races they have
                        to run/my goals. So if you're looking for specific maps to
                        follow for each uma that's the best place to start. However
                        I find some general tips will help you when rng inevitably
                        leads things off the trusted and true trail.
                    </p>
                    <h3>Objectives by year</h3>
                    <p>
                        <b>junior</b> Evenly maxing out your friendship gauge to
                        orange with all umas. Hopefully, when building a deck you
                        are prioritizing umas with good training and friendship bonuses
                        - but if any uma doesn't provide that (or you have a bad
                        mood and they have a mood effect multiplier) then you can
                        put them as a lower priority. I will also try to level up
                        my training facilities in speed or stamina to at least level
                        2.
                    </p>
                    <p>
                        <b>classic</b> this is where i prioritize building up their
                        stats to the minimum levels i listed above. I mostly focus
                        on stamina and speed, the other traits aren't as necessary.
                        I may also prioritize power for my shorter distance umas.
                        I mostly try to keep to those two trainings in order to also
                        build up my training facility levels - the higher the level
                        the more points you earn.
                    </p>
                    <p>
                        <b>senior</b> this is my last chance to make sure i've hit
                        my bases - i'm usually in a more comfortable space at this
                        point in the run so i can choose to spend a turn trying to
                        collect a skill when i see an exclamation mark. I may also
                        run races to get more fans or a coveted g1 spark. I like
                        to make sure that by the end of senior year I'm back at full
                        energy so i can spend my last 3 turns of the URA finals getting
                        stats.
                    </p>
                </div>
            </div>
        </div>
        <div class="the-whole">
            <div class="content">
                <div class="container">
                    <h2>parting tips</h2>
                    <p>
                        never rest on late dec - the new years event always
                        gives you a boost of energy if you need it
                    </p>
                    <p>
                        always do daily races in pvp even if you can't win -
                        you'll still earn that good daily reward you need
                    </p>
                    <h3>Learn more from my favorite sources!</h3>
                    <p>
                        <a href="https://www.youtube.com/@Dewloren0"
                            >@Dewloren0
                        </a>
                    </p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                </div>
            </div>
        </div>
    </div></UmpdLayout
>
